# Dados de telefonia móvel - Ano 2022

In [1]:
# Análise dos dados quantitativos e qualitativos de 2002 (responsável: Beatriz Pierri)

In [2]:
# importação de bibliotecas

import pandas as pd

In [3]:
# transformando os dois arquivos em dataframe

df_2022_1 = pd.read_csv('C:/Users/beapi/Bootcamp Enap/Projeto Telefonia/data/Acessos_Telefonia_Movel_202201-202206_Colunas.csv', sep = ';')

df_2022_2 = pd.read_csv('C:/Users/beapi/Bootcamp Enap/Projeto Telefonia/data/Acessos_Telefonia_Movel_202207-202212_Colunas.csv', sep = ';')

## Dataframe - 1º semestre de 2022

In [4]:
# df_2022_1 = df_2022_1.fillna(0)
#celula exclusiva para rodar testes

In [5]:
df_2022_1.head()

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,Tipo de Produto,Código IBGE Município,Grupo Econômico,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06
0,71208516000174,14,Bastos,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,VOZ+DADOS,3505807,ALGAR (CTBC TELECOM),3.0,3.0,3.0,2.0,2.0,2.0
1,71208516000174,14,Bastos,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,VOZ+DADOS,3505807,ALGAR (CTBC TELECOM),1.0,1.0,1.0,1.0,NaN,NaN
2,71208516000174,16,Sertãozinho,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Jurídica,M2M,3551702,ALGAR (CTBC TELECOM),6.0,6.0,6.0,5.0,4.0,4.0
3,71208516000174,16,Sertãozinho,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,VOZ+DADOS,3551702,ALGAR (CTBC TELECOM),1.0,1.0,NaN,1.0,1.0,1.0
4,71208516000174,16,Altinópolis,SP,Pós-pago,GSM,2G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,VOZ+DADOS,3501004,ALGAR (CTBC TELECOM),41.0,42.0,43.0,41.0,42.0,42.0

In [6]:
# estudando o arquivo df_2022_1 (1º semestre) individualmente (para ver se bate com o 'merge')

print(df_2022_1.shape)
print()
print(df_2022_1.isna().sum())
print()
print(df_2022_1.columns)

(577955, 19)

CNPJ                           0
Código Nacional                0
Município                      0
UF                             0
Modalidade de Cobrança         0
Tecnologia                     0
Tecnologia Geração             0
Empresa                        0
Porte da Prestadora            0
Tipo de Pessoa                 0
Tipo de Produto                0
Código IBGE Município          0
Grupo Econômico                0
2022-01                   250309
2022-02                   258690
2022-03                   247973
2022-04                   174910
2022-05                   160687
2022-06                   151720
dtype: int64

Index(['CNPJ', 'Código Nacional', 'Município', 'UF', 'Modalidade de Cobrança',
       'Tecnologia', 'Tecnologia Geração', 'Empresa', 'Porte da Prestadora',
       'Tipo de Pessoa', 'Tipo de Produto', 'Código IBGE Município',
       'Grupo Econômico', '2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06'],
      dtype='object')

In [7]:
df_2022_1['2022-01'].value_counts()

2022-01
1.0        48970
2.0        25863
3.0        17644
4.0        13011
5.0        10400
           ...
18830.0        1
8999.0         1
18331.0        1
12004.0        1
22473.0        1
Name: count, Length: 10433, dtype: int64

## Dataframe - 2º semestre de 2022

In [8]:
# df_2022_2 = df_2022_2.fillna(0) 
# celula exclusiva para rodar testes

In [9]:
df_2022_2.head()

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,Tipo de Produto,Código IBGE Município,Grupo Econômico,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12
0,40432544000147,11,Santo André,SP,Pós-pago,GSM,2G,CLARO,Grande Porte,Pessoa Física,VOZ+DADOS,3547809,TELECOM AMERICAS,173.0,337.0,337.0,356.0,364.0,379.0
1,40432544000147,11,Santo André,SP,Pós-pago,GSM,2G,CLARO,Grande Porte,Pessoa Jurídica,M2M,3547809,TELECOM AMERICAS,426.0,1655.0,1728.0,4465.0,4495.0,4512.0
2,40432544000147,11,Santo André,SP,Pós-pago,GSM,2G,CLARO,Grande Porte,Pessoa Jurídica,DADOS,3547809,TELECOM AMERICAS,NaN,1.0,1.0,16.0,17.0,16.0
3,40432544000147,11,Santo André,SP,Pós-pago,GSM,2G,CLARO,Grande Porte,Pessoa Jurídica,VOZ+DADOS,3547809,TELECOM AMERICAS,26.0,74.0,72.0,96.0,96.0,97.0
4,40432544000147,11,Santo André,SP,Pós-pago,GSM,2G,CLARO,Grande Porte,Pessoa Jurídica,PONTO_DE_SERVICO,3547809,TELECOM AMERICAS,66.0,95.0,144.0,1842.0,1786.0,1729.0

In [10]:
# estudando o arquivo df_2022_2 (2º semestre) individualmente (para ver se bate com o 'merge')

print(df_2022_2.shape)
print()
print(df_2022_2.isna().sum())
print()
print(df_2022_2.columns)

(404463, 19)

CNPJ                          0
Código Nacional               0
Município                     0
UF                            0
Modalidade de Cobrança        0
Tecnologia                    0
Tecnologia Geração            0
Empresa                       0
Porte da Prestadora           0
Tipo de Pessoa                0
Tipo de Produto               0
Código IBGE Município         0
Grupo Econômico               0
2022-07                   60228
2022-08                   49689
2022-09                   44709
2022-10                   40265
2022-11                   49635
2022-12                   61186
dtype: int64

Index(['CNPJ', 'Código Nacional', 'Município', 'UF', 'Modalidade de Cobrança',
       'Tecnologia', 'Tecnologia Geração', 'Empresa', 'Porte da Prestadora',
       'Tipo de Pessoa', 'Tipo de Produto', 'Código IBGE Município',
       'Grupo Econômico', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12'],
      dtype='object')

## Dataframe - Ano de 2022 (merge)

In [11]:
df_2022 = pd.merge(df_2022_1, df_2022_2, how='outer')

In [12]:
df_2022.head(5)

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12
0,71208516000174,14,Bastos,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,3.0,2.0,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN
1,71208516000174,14,Bastos,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,71208516000174,16,Sertãozinho,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Jurídica,...,6.0,5.0,4.0,4.0,1.0,3.0,3.0,2.0,2.0,2.0
3,71208516000174,16,Sertãozinho,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,NaN,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
4,71208516000174,16,Altinópolis,SP,Pós-pago,GSM,2G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,43.0,41.0,42.0,42.0,41.0,40.0,40.0,41.0,41.0,41.0

In [13]:
print(df_2022.shape)
print()
print(df_2022.isna().sum())
print()
print(df_2022.columns)

(634576, 25)

CNPJ                           0
Código Nacional                0
Município                      0
UF                             0
Modalidade de Cobrança         0
Tecnologia                     0
Tecnologia Geração             0
Empresa                        0
Porte da Prestadora            0
Tipo de Pessoa                 0
Tipo de Produto                0
Código IBGE Município          0
Grupo Econômico                0
2022-01                   306930
2022-02                   315311
2022-03                   304594
2022-04                   231531
2022-05                   217308
2022-06                   208341
2022-07                   290341
2022-08                   279802
2022-09                   274822
2022-10                   270378
2022-11                   279748
2022-12                   291299
dtype: int64

Index(['CNPJ', 'Código Nacional', 'Município', 'UF', 'Modalidade de Cobrança',
       'Tecnologia', 'Tecnologia Geração', 'Empresa', 'Porte da Prestadora',
       'Tipo de Pessoa', 'Tipo de Produto', 'Código IBGE Município',
       'Grupo Econômico', '2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12'],
      dtype='object')

## Análise da qualidade dos dados (grafia dos valores)

In [14]:
# vendo o tipo de dado que tenho por coluna
# os dados estão ok: os numéricos (especialmente os do número de acessos) estão no 
# formato float (e não object)

df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634576 entries, 0 to 634575
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CNPJ                    634576 non-null  int64
 1   Código Nacional         634576 non-null  int64
 2   Município               634576 non-null  object
 3   UF                      634576 non-null  object
 4   Modalidade de Cobrança  634576 non-null  object
 5   Tecnologia              634576 non-null  object
 6   Tecnologia Geração      634576 non-null  object
 7   Empresa                 634576 non-null  object
 8   Porte da Prestadora     634576 non-null  object
 9   Tipo de Pessoa          634576 non-null  object
 10  Tipo de Produto         634576 non-null  object
 11  Código IBGE Município   634576 non-null  int64
 12  Grupo Econômico         634576 non-null  object
 13  2022-01                 327646 non-null  float64
 14  2022-02                 319265 non-null  float64
 15  2022-03                 329982 non-null  float64
 16  2022-04                 403045 non-null  float64
 17  2022-05                 417268 non-null  float64
 18  2022-06                 426235 non-null  float64
 19  2022-07                 344235 non-null  float64
 20  2022-08                 354774 non-null  float64
 21  2022-09                 359754 non-null  float64
 22  2022-10                 364198 non-null  float64
 23  2022-11                 354828 non-null  float64
 24  2022-12                 343277 non-null  float64
dtypes: float64(12), int64(3), object(10)
memory usage: 121.0+ MB

In [15]:
# vendo o tipo de dado que tenho em cada coluna do dataframe (ou quantidade, ou qualidade), para
# ver se não há strings repetidas com diferentes grafias

# CNPJ (quantidade)
print(f"CNPJ - ", len(df_2022['CNPJ'].unique()))

print()
# Codigo nacional (quantidade)
print(f"Código Nacional - ", len(df_2022['Código Nacional'].unique()))

print()
# Município (quantidade)
print(f"Município - ", len(df_2022['Município'].unique()))

print()
# UF (dados)
print(f"UF - ", len(df_2022['UF'].unique()))
print(f"UF - ", df_2022['UF'].unique())

print()
# Modalidade de Cobrança (quantidade)
print(f"Modalidade de Cobrança - ", len(df_2022['Modalidade de Cobrança'].unique()))
# Modalidade de Cobrança (dados)
print(f"Modalidade de Cobrança - ", df_2022['Modalidade de Cobrança'].unique())

print()
# Tecnologia (quantidade)
print(f"Tecnologia - ", len(df_2022['Tecnologia'].unique()))
# Tecnologia (dados)
print(f"Tecnologia - ", df_2022['Tecnologia'].unique())

print()
# Tecnologia Geração (quantidade)
print(f"Tecnologia Geração - ", len(df_2022['Tecnologia Geração'].unique()))
# Tecnologia Geração (dados)
print(f"Tecnologia Geração - ", df_2022['Tecnologia Geração'].unique())

print()
# Empresa (quantidade)
print(f"Empresa - ", len(df_2022['Empresa'].unique()))
# Empresa (dados)
print(f"Empresa - ", df_2022['Empresa'].unique())

print()
# Porte da Prestadora (quantidade)
print(f"Porte da Prestadora - ", len(df_2022['Porte da Prestadora'].unique()))
# Porte da Prestadora (dados)
print(f"Porte da Prestadora - ", df_2022['Porte da Prestadora'].unique())

print()
# Tipo de Pessoa (quantidade)
print(f"Tipo de Pessoa - ", len(df_2022['Tipo de Pessoa'].unique()))
# Tipo de Pessoa (dados)
print(f"Tipo de Pessoa - ", df_2022['Tipo de Pessoa'].unique())

print()
# Tipo de Produto (quantidade)
print(f"Tipo de Produto - ", len(df_2022['Tipo de Produto'].unique()))
# Tipo de Produto (dados)
print(f"Tipo de Produto - ", df_2022['Tipo de Produto'].unique())

print()
# Código IBGE Município (quantidade)
print(f"Código IBGE Município - ", len(df_2022['Código IBGE Município'].unique()))

print()
# Grupo Econômico (quantidade)
print(f"Grupo Econômico - ", len(df_2022['Grupo Econômico'].unique()))
# Grupo Econômico (dados)
print(f"Grupo Econômico - ", df_2022['Grupo Econômico'].unique())

CNPJ -  16

Código Nacional -  67

Município -  5297

UF -  27
UF -  ['SP' 'MG' 'GO' 'MS' 'PR' 'RJ' 'ES' 'SC' 'RS' 'DF' 'TO' 'MT' 'AC' 'RO'
 'BA' 'SE' 'PE' 'AL' 'PB' 'RN' 'CE' 'PI' 'PA' 'AM' 'RR' 'AP' 'MA']

Modalidade de Cobrança -  2
Modalidade de Cobrança -  ['Pós-pago' 'Pré-pago']

Tecnologia -  6
Tecnologia -  ['LTE' 'WCDMA' 'GSM' 'CDMA IS 95' 'NR NSA' 'NR']

Tecnologia Geração -  5
Tecnologia Geração -  ['4G' '3G' '2G' '5G Non Stand Alone' '5G']

Empresa -  15
Empresa -  ['ALGAR (CTBC TELECOM)' 'LIGGA TELECOM' 'EB FIBRA' 'SURF TELECOM SA' 'TIM'
 'America Net S.a.' 'TELEXPERTS TELECOMUNICAÇÕES S.A.' 'VIVO' 'CLARO'
 'Next Level Telecom Ltda.' 'J. SAFRA TELECOMUNICACOES LTDA' 'DATORA' 'OI'
 'SURF TELECOM' 'AMERICA NET']

Porte da Prestadora -  2
Porte da Prestadora -  ['Pequeno Porte' 'Grande Porte']

Tipo de Pessoa -  2
Tipo de Pessoa -  ['Pessoa Física' 'Pessoa Jurídica']

Tipo de Produto -  5
Tipo de Produto -  ['VOZ+DADOS' 'M2M' 'DADOS' 'PONTO_DE_SERVICO' 'VOZ']

Código IBGE Município -  5570

Grupo Econômico -  12
Grupo Econômico -  ['ALGAR (CTBC TELECOM)' 'LIGGA TELECOM' 'EB FIBRA' 'OUTROS'
 'TELECOM ITALIA' 'TELEFÔNICA' 'TELECOM AMERICAS' 'TELEFONICA' 'DATORA'
 'OI' 'SURF TELECOM' 'AMERICA NET']

In [16]:
# disparidades aparentes:

# são 5570 codigos de municios IBGE
# solução: ignorar os codigos do ibge e trabalhar só com os nomes dos municipios

# empresas:
# 16 CNPJs de empresas fornecedoras
# 15 empresas
# 13 grupos econcomicos
# dentre as empresas ['ALGAR (CTBC TELECOM)' 'LIGGA TELECOM' 'EB FIBRA' 'SURF TELECOM SA' 'TIM'
#  'America Net S.a.' 'TELEXPERTS TELECOMUNICAÇÕES S.A.' 'VIVO' 'CLARO'
#  'Next Level Telecom Ltda.' 'J. SAFRA TELECOMUNICACOES LTDA' 'DATORA' 'OI'
#  'SURF TELECOM' 'AMERICA NET'], Surf Telecom é repetida (ora com SA no nome, ora sem)

# Tecnologia: 
# são 6 tecnologias: ['LTE' 'WCDMA' 'GSM' 'CDMA IS 95' 'NR NSA' 'NR']
print(df_2022['Tecnologia'].value_counts())
# Tecnologia
# LTE           257120
# GSM           195426
# WCDMA         180081
# NR              1163
# NR NSA           701
# CDMA IS 95        85

Tecnologia
LTE           257120
GSM           195426
WCDMA         180081
NR              1163
NR NSA           701
CDMA IS 95        85
Name: count, dtype: int64

In [17]:
## Análise da qualidade dos dados (Not a Number)

In [18]:
# conferindo os not a number (NaN)
df_2022.isna().sum()

# temos NaN apenas nas colunas dos meses

CNPJ                           0
Código Nacional                0
Município                      0
UF                             0
Modalidade de Cobrança         0
Tecnologia                     0
Tecnologia Geração             0
Empresa                        0
Porte da Prestadora            0
Tipo de Pessoa                 0
Tipo de Produto                0
Código IBGE Município          0
Grupo Econômico                0
2022-01                   306930
2022-02                   315311
2022-03                   304594
2022-04                   231531
2022-05                   217308
2022-06                   208341
2022-07                   290341
2022-08                   279802
2022-09                   274822
2022-10                   270378
2022-11                   279748
2022-12                   291299
dtype: int64

In [19]:
# vendo a qualidade dos dados em cada uma dessas colunas)
print("True ---> dados nulos")
print("False ---> dados numéricos \n")

print(df_2022['2022-01'].isna().value_counts())

print()
print(df_2022['2022-02'].isna().value_counts())

print()
print(df_2022['2022-03'].isna().value_counts())

print()
print(df_2022['2022-04'].isna().value_counts())

print()
print(df_2022['2022-05'].isna().value_counts())

print()
print(df_2022['2022-06'].isna().value_counts())

print()
print(df_2022['2022-07'].isna().value_counts())

print()
print(df_2022['2022-08'].isna().value_counts())

print()
print(df_2022['2022-09'].isna().value_counts())

print()
print(df_2022['2022-10'].isna().value_counts())

print()
print(df_2022['2022-11'].isna().value_counts())

print()
print(df_2022['2022-12'].isna().value_counts())

True ---> dados nulos
False ---> dados numéricos

2022-01
False    327646
True     306930
Name: count, dtype: int64

2022-02
False    319265
True     315311
Name: count, dtype: int64

2022-03
False    329982
True     304594
Name: count, dtype: int64

2022-04
False    403045
True     231531
Name: count, dtype: int64

2022-05
False    417268
True     217308
Name: count, dtype: int64

2022-06
False    426235
True     208341
Name: count, dtype: int64

2022-07
False    344235
True     290341
Name: count, dtype: int64

2022-08
False    354774
True     279802
Name: count, dtype: int64

2022-09
False    359754
True     274822
Name: count, dtype: int64

2022-10
False    364198
True     270378
Name: count, dtype: int64

2022-11
False    354828
True     279748
Name: count, dtype: int64

2022-12
False    343277
True     291299
Name: count, dtype: int64

In [20]:
# nas colunas dos meses, cerca de metade dos dados são nan
# # mas isso nao desqualifica a análise, pois:
# a) os dados da Anatel estão organizados por semestre (1 tabela para jan a jun e 1 tabela 
# para jul a dez)
# b) ao conferir a tabela original para ver como esses NaN constavam, nas células respectivas
# não constava nenhuma informação: a célula estava em branco (não eram strings e nem caracteres
# especiais, por exemplo)
# c) assim, na tabela original, essas células estavam zeradas: ou nao haviam chips ativos naquele 
# mês, por linha de dados (empresa, cliente, tecnologia etc.), ou a empresa não preencheu os dados
# d) mesclamos as duas tabelas de cada ano por meio da operação merge, parâmetro auter
# e) ao fazer o merge, vimos que a tabela que, antes tinha 19 colunas (13 colunas com dados majoritariamente 
# de strings e 6 colunas de dados de acesso, referente aos meses jan-jun), passou a ter 25 colunas, 
# pois recebeu a 6 colunas dos meses jul-dez da 2ª tabela 
# e) para as linhas que tinham exatamente as mesmas informações nas 13 colunas precedentes de strings (CNPJ,                                                                                                
# Empresa, Porte da Pessoa, tipo de Produto, Tecnologia etc.), as informações de ambos os semestres foram preenchidas
# f) mas, em casos em que não havia identidade de grafia nas informações das 13 colunas, o python jogou os 
# dados relativos ao 2º semestre para uma linha completamente nova, preenchendo o espaço referente aos 
# meses jan-jul com NaN
# g) nessa migração, a tabela consolidada passou a contar com uma quantidade bastante grande de Nan
# h) passou-se, então, para a análise de como tratar esses dados

In [21]:
# vendo os Not a Number (NaN) do 1º semestre e sua relevância face ao total de informações do dataset

print("1º semestre de 2022:")

print(f"Quantidade de NaN: ", df_2022_1[['2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06']].isna().sum().sum())

# O shape do 1º semestre é
print(f"Linhas e colunas: ", df_2022_1.shape)

# numero total de entradas no meu dataframe
print(f"Total de entradas no meu df: ", df_2022_1.shape[0] * df_2022_1.shape[1])

# vendo a percentagem no Nan na tabela do 1º semestre face ao total de informações
dado1 = df_2022_1[['2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06']].isna().sum().sum() / (df_2022_1.shape[0] * df_2022_1.shape[1])
print(f"No 1º semestre de 2022, os dados NaN representam {dado1*100:.2f}% do total de entradas no dataframe")

# vendo a percentagem no Nan na tabela do 1º semestre face ao total de informações nas colunas dos meses:
dado1s = df_2022_1[['2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06']].isna().sum().sum() / (df_2022_1.shape[0] * 6)
print(f"No 1º semestre de 2022, os dados NaN representam {dado1s*100:.2f}% do total de entradas nas colunas de acesso (6 meses do ano)")

print("No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum: \n nem \
números, nem strings, nem caracteres especiais; correspondem a uma informação zerada")

1º semestre de 2022:
Quantidade de NaN:  1244289
Linhas e colunas:  (577955, 19)
Total de entradas no meu df:  10981145
No 1º semestre de 2022, os dados NaN representam 11.33% do total de entradas no dataframe
No 1º semestre de 2022, os dados NaN representam 35.88% do total de entradas nas colunas de acesso (6 meses do ano)
No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum:
 nem números, nem strings, nem caracteres especiais; correspondem a uma informação zerada

In [22]:
# vendo os Not a Number (NaN) do 2º semestre e sua relevância face ao total de informações do dataset

print("2º semestre de 2022:")

print(f"Quantidade de NaN: ", df_2022_2[['2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12']].isna().sum().sum())

# O shape do 1º semestre é
print(f"Linhas e colunas: ", df_2022_2.shape)

# numero total de entradas no meu dataframe
print(f"Total de entradas no meu df: ", df_2022_2.shape[0] * df_2022_2.shape[1])

# vendo a percentagem no Nan na tabela do 2º semestre face ao total de informações
dado2 = df_2022_2[['2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12']].isna().sum().sum() / (df_2022_2.shape[0] * df_2022_2.shape[1])
print(f"No 2º semestre de 2022, os dados NaN representam {dado2*100:.2f}% do total de entradas no dataframe")

# vendo a percentagem no Nan na tabela do 2º semestre face ao total de informações nas colunas dos meses:
dado2s = df_2022_2[['2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12']].isna().sum().sum() / (df_2022_2.shape[0] * 6)
print(f"No 2º semestre de 2022, os dados NaN representam {dado2s*100:.2f}% do total de entradas nas colunas de acesso (6 meses do ano)")

print("No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum: \n nem \
números, nem strings, nem caracteres especiais; correspondem a uma informação zerada")

2º semestre de 2022:
Quantidade de NaN:  305712
Linhas e colunas:  (404463, 19)
Total de entradas no meu df:  7684797
No 2º semestre de 2022, os dados NaN representam 3.98% do total de entradas no dataframe
No 2º semestre de 2022, os dados NaN representam 12.60% do total de entradas nas colunas de acesso (6 meses do ano)
No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum:
 nem números, nem strings, nem caracteres especiais; correspondem a uma informação zerada

In [23]:
# vendo os NaN da tabela com 'merge + outer'

print("Ano de 2022:")

print(f"Quantidade de NaN: ", df_2022[['2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12']].isna().sum().sum())

# O shape do ano é
print(f"Linhas e colunas: ", df_2022.shape)

# numero total de entradas no meu dataframe
print(f"Total de entradas no meu df: ", df_2022.shape[0] * df_2022.shape[1])

# vendo a percentagem no Nan na tabela 2022 face ao total de informações
dado_t = df_2022[['2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12']].isna().sum().sum() / (df_2022.shape[0] * df_2022.shape[1])
print(f"No ano de 2022, os dados NaN representam {dado_t*100:.2f}% do total de entradas no dataframe")

# vendo a percentagem no Nan na tabela merge do ano face ao total de informações nas colunas dos meses:
dado_ts = df_2022[['2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12']].isna().sum().sum() / (df_2022.shape[0] * 6)
print(f"No ano de 2022, os dados NaN representam {dado_ts*100:.2f}% do total de entradas nas colunas de acesso (6 meses do ano)")

Ano de 2022:
Quantidade de NaN:  3270405
Linhas e colunas:  (634576, 25)
Total de entradas no meu df:  15864400
No ano de 2022, os dados NaN representam 20.61% do total de entradas no dataframe
No ano de 2022, os dados NaN representam 85.89% do total de entradas nas colunas de acesso (6 meses do ano)

In [24]:
print("Análise: \n")
print("Total de NaN na tabela consolidada: 3_270_405 \n")
print("Deste total, 1_244_289 NaN vieram da tabela do 1º semestre, e 305_712 NaN vieram da tabela do 2º semestre \n")
print("No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum: \n nem \
números, nem strings, nem caracteres especiais; correspondem a uma informação zerada, de modo que, \n em relação \
a eles, a equipe definiu que devem ser tratados tal como no arquivo original: zero \n")
print("Com o merge, recebemos 1_720_404 novos NaN. Para saber como tráta-los e deixá-los mais fidedignos \
possível \n à análise, rodamos três testes: \n 1) um que pede ao python que ignore todos os NaN nos cálculos estatísticos; \
\n 2) um que considera os NaN originais como 'zero', e ignora, como valor, os NaN provenientes do 'merge'; \n 3) um \
que considera todos os NaN do dataframe como zero, passando a função df.fillna() indistintamente \n em todos os NaN \n")
print("Conforme abaixo, a média anual de chips ativos por empresa (considerando as variáveis tecnologia, \n porte etc.) \
que trouxe resultados mais consistentes comparativamente à análise da média mensal total \n por chips ativos no Brasil \
foi o que considera todos os NaN como zero; poir isso, rodamos nosso modelo \n passando a função df.fillna() em \
todos os NaN")

Análise:

Total de NaN na tabela consolidada: 3_270_405

Deste total, 1_244_289 NaN vieram da tabela do 1º semestre, e 305_712 NaN vieram da tabela do 2º semestre

No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum:
 nem números, nem strings, nem caracteres especiais; correspondem a uma informação zerada, de modo que,
 em relação a eles, a equipe definiu que devem ser tratados tal como no arquivo original: zero

Com o merge, recebemos 1_720_404 novos NaN. Para saber como tráta-los e deixá-los mais fidedignos possível
 à análise, rodamos três testes:
 1) um que pede ao python que ignore todos os NaN nos cálculos estatísticos;
 2) um que considera os NaN originais como 'zero', e ignora, como valor, os NaN provenientes do 'merge';
 3) um que considera todos os NaN do dataframe como zero, passando a função df.fillna() indistintamente
 em todos os NaN

Conforme abaixo, a média anual de chips ativos por empresa (considerando as variáveis tecnologia,
 porte etc.) que trouxe resultados mais consistentes comparativamente à análise da média mensal total
 por chips ativos no Brasil foi o que considera todos os NaN como zero; poir isso, rodamos nosso modelo
 passando a função df.fillna() em todos os NaN

In [25]:
# fiz testes de qualidade com e sem os NaN, e depois desses testes (explicados abaixo), voltei nesta 
# célula para rodar o fillna(0) e refazer os cálculos de 'soma_meses' e 'media_ano' com o valor zero
# atribuído aos NaN

df_2022 = df_2022.fillna(0)

In [26]:
lista_colunas = ['2022-01','2022-02','2022-03','2022-04','2022-05','2022-06','2022-07','2022-08','2022-09','2022-10','2022-11','2022-12']

In [27]:
# criar coluna de soma_meses

df_2022["soma_meses"] = df_2022[lista_colunas].sum(axis=1)

# coluna criada para fazer o sorted e ver se há NaN relevantes dentre as empresas que figuram dentre
# as mais representativas do setor

In [28]:
# Criar coluna de média

df_2022['media_ano'] = round(df_2022[lista_colunas].mean(axis=1), 2)

In [29]:
df_2022.head()

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,soma_meses,media_ano
0,71208516000174,14,Bastos,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,18.0,1.50
1,71208516000174,14,Bastos,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.33
2,71208516000174,16,Sertãozinho,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Jurídica,...,4.0,4.0,1.0,3.0,3.0,2.0,2.0,2.0,44.0,3.67
3,71208516000174,16,Sertãozinho,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,8.0,0.67
4,71208516000174,16,Altinópolis,SP,Pós-pago,GSM,2G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,42.0,42.0,41.0,40.0,40.0,41.0,41.0,41.0,495.0,41.25

In [30]:
df_2022_sorted = df_2022.sort_values(by='soma_meses', ascending=True)

In [31]:
df_2022_sorted.head(1000)

# vemos que dentre as 1000 linhas de reporte com menos acessos, as próprias empresas, no semestre, reportaram 
# apenas um acesso no semestre: isto é, ta tebela original da Anatel, elas próprias reportaram que nos outros 
# 5 meses o seu acesso foi de zero)

# a soma de todas as linhas desses 500 primeiros reportes é 1, o que significa que, ainda que 6 colunas tenham sido 
# preechidas com NaN, a própria empresa reportou, nas outras 5 colunas da tabela original, que os dados são
# zero para os outros 5 meses (apenas 1 mês teve acesso de 1)

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,soma_meses,media_ano
226556,40432544000147,35,Itutinga,MG,Pós-pago,WCDMA,3G,CLARO,Grande Porte,Pessoa Jurídica,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.08
464228,37185266000166,91,Curralinho,PA,Pré-pago,LTE,4G,CLARO,Grande Porte,Pessoa Física,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.08
124696,2558157000162,35,Guapé,MG,Pré-pago,WCDMA,3G,VIVO,Grande Porte,Pessoa Física,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.08
601606,2421421000111,77,Urandi,BA,Pós-pago,WCDMA,3G,TIM,Grande Porte,Pessoa Jurídica,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.08
464199,37185266000166,91,Concórdia do Pará,PA,Pós-pago,GSM,2G,CLARO,Grande Porte,Pessoa Física,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558912,5423963000111,84,João Dias,RN,Pré-pago,WCDMA,3G,OI,Grande Porte,Pessoa Física,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.08
456141,37185266000166,83,Areia de Baraúnas,PB,Pós-pago,LTE,4G,CLARO,Grande Porte,Pessoa Física,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.08
558926,5423963000111,84,Jucurutu,RN,Pós-pago,LTE,4G,OI,Grande Porte,Pessoa Física,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.08
72657,2421421000111,83,Jericó,PB,Pós-pago,GSM,2G,TIM,Grande Porte,Pessoa Jurídica,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.08
456121,37185266000166,83,Arara,PB,Pré-pago,WCDMA,3G,CLARO,Grande Porte,Pessoa Física,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.08

In [32]:
maiores_empresas = df_2022_sorted.tail(500)

In [33]:
maiores_empresas

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,soma_meses,media_ano
113972,2558157000162,31,Ribeirão das Neves,MG,Pós-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,61221.0,61917.0,63088.0,64157.0,64552.0,65572.0,66432.0,67868.0,754187.0,62848.92
111924,2558157000162,31,Betim,MG,Pré-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,64191.0,63314.0,63111.0,63154.0,62630.0,62359.0,62550.0,62992.0,755282.0,62940.17
156753,2558157000162,61,Brasília,DF,Pós-pago,LTE,4G,VIVO,Grande Porte,Pessoa Jurídica,...,64546.0,64479.0,64450.0,64269.0,62779.0,62084.0,62125.0,61853.0,757541.0,63128.42
231420,40432544000147,43,Londrina,PR,Pós-pago,LTE,4G,CLARO,Grande Porte,Pessoa Física,...,62751.0,62508.0,64477.0,65744.0,65596.0,68623.0,65391.0,67463.0,758207.0,63183.92
146137,2558157000162,51,Canoas,RS,Pós-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,62969.0,63634.0,63996.0,64914.0,65328.0,66061.0,66478.0,66821.0,758331.0,63194.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91784,2558157000162,11,São Paulo,SP,Pós-pago,GSM,2G,VIVO,Grande Porte,Pessoa Jurídica,...,1681499.0,1895658.0,1901753.0,1873977.0,1720849.0,1690531.0,1784382.0,1779118.0,21697296.0,1808108.00
91787,2558157000162,11,São Paulo,SP,Pós-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,1958810.0,1955536.0,1947530.0,1953659.0,1950379.0,1947532.0,1930576.0,1901851.0,23222757.0,1935229.75
11000,2421421000111,11,São Paulo,SP,Pré-pago,LTE,4G,TIM,Grande Porte,Pessoa Física,...,2372381.0,2371421.0,2359936.0,2353432.0,2419493.0,2454580.0,2533092.0,2564685.0,28689977.0,2390831.42
206750,40432544000147,11,São Paulo,SP,Pós-pago,WCDMA,3G,CLARO,Grande Porte,Pessoa Jurídica,...,2906155.0,2924259.0,1224985.0,2816386.0,2816289.0,1724382.0,1717811.0,1644160.0,29404782.0,2450398.50
206739,40432544000147,11,São Paulo,SP,Pós-pago,LTE,4G,CLARO,Grande Porte,Pessoa Física,...,2486357.0,2436785.0,2871288.0,2448517.0,2397734.0,2354963.0,2348940.0,2314398.0,29884953.0,2490412.75

In [34]:
# dentre as 500 maiores linhas com reportes de mais acessos, os NaN n]ao são tão óbvios, mas
# eles existem

maiores_empresas.isna().sum()

CNPJ                      0
Código Nacional           0
Município                 0
UF                        0
Modalidade de Cobrança    0
Tecnologia                0
Tecnologia Geração        0
Empresa                   0
Porte da Prestadora       0
Tipo de Pessoa            0
Tipo de Produto           0
Código IBGE Município     0
Grupo Econômico           0
2022-01                   0
2022-02                   0
2022-03                   0
2022-04                   0
2022-05                   0
2022-06                   0
2022-07                   0
2022-08                   0
2022-09                   0
2022-10                   0
2022-11                   0
2022-12                   0
soma_meses                0
media_ano                 0
dtype: int64

In [35]:
# vendo, dentro da lista com as maiores empresas (maior soma_meses), quais tem NaN em algum lugar
# do dataframe

maiores_empresas_com_nam = maiores_empresas[maiores_empresas.isna().any(axis=1)]

In [36]:
maiores_empresas_com_nam

# nesta tabela vemos que empresas com reportes relevantes tamém omitiram um mês ou outro

Empty DataFrame
Columns: [CNPJ, Código Nacional, Município, UF, Modalidade de Cobrança, Tecnologia, Tecnologia Geração, Empresa, Porte da Prestadora, Tipo de Pessoa, Tipo de Produto, Código IBGE Município, Grupo Econômico, 2022-01, 2022-02, 2022-03, 2022-04, 2022-05, 2022-06, 2022-07, 2022-08, 2022-09, 2022-10, 2022-11, 2022-12, soma_meses, media_ano]
Index: []

[0 rows x 27 columns]

In [37]:
maiores_empresas_com_nam.columns

Index(['CNPJ', 'Código Nacional', 'Município', 'UF', 'Modalidade de Cobrança',
       'Tecnologia', 'Tecnologia Geração', 'Empresa', 'Porte da Prestadora',
       'Tipo de Pessoa', 'Tipo de Produto', 'Código IBGE Município',
       'Grupo Econômico', '2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12', 'soma_meses', 'media_ano'],
      dtype='object')

In [38]:
maiores_empresas_com_nam[['Grupo Econômico', '2022-01', '2022-02', '2022-03', '2022-04',
       '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10',
       '2022-11', '2022-12', 'soma_meses', 'media_ano']]

Empty DataFrame
Columns: [Grupo Econômico, 2022-01, 2022-02, 2022-03, 2022-04, 2022-05, 2022-06, 2022-07, 2022-08, 2022-09, 2022-10, 2022-11, 2022-12, soma_meses, media_ano]
Index: []

In [39]:
# # vendo o numero de chips (acesso) por mes, e comparando com a media
# print(f"1ª hipotese: não fazendo fillna() nos NaN (deixando o python, por default, \n \
# ignorar o value ao calcular a média anual: \n")

# print(f" Mês 2022-01 ---> {df_2022['2022-01'].sum():,.0f}\n \
# Mês 2022-01 ---> {df_2022['2022-01'].sum():,.0f}\n \
# Mês 2022-02 ---> {df_2022['2022-02'].sum():,.0f}\n \
# Mês 2022-03 ---> {df_2022['2022-03'].sum():,.0f}\n \
# Mês 2022-04 ---> {df_2022['2022-04'].sum():,.0f}\n \
# Mês 2022-05 ---> {df_2022['2022-05'].sum():,.0f}\n \
# Mês 2022-06 ---> {df_2022['2022-06'].sum():,.0f}\n \
# Mês 2022-07 ---> {df_2022['2022-07'].sum():,.0f}\n \
# Mês 2022-08 ---> {df_2022['2022-08'].sum():,.0f}\n \
# Mês 2022-09 ---> {df_2022['2022-09'].sum():,.0f}\n \
# Mês 2022-10 ---> {df_2022['2022-10'].sum():,.0f}\n \
# Mês 2022-11 ---> {df_2022['2022-11'].sum():,.0f}\n \
# Mês 2022-12 ---> {df_2022['2022-12'].sum():,.0f}\n \
# \n \
# Média dos meses ---> {df_2022['media_ano'].sum():,.0f}")

# Resultado:

# 1ª hipotese: não fazendo fillna() nos NaN (deixando o python, por default, 
#  ignorar o value ao calcular a média anual: 

#  Mês 2022-01 ---> 255,676,462
#  Mês 2022-01 ---> 255,676,462
#  Mês 2022-02 ---> 256,443,920
#  Mês 2022-03 ---> 258,272,563
#  Mês 2022-04 ---> 259,241,181
#  Mês 2022-05 ---> 258,760,225
#  Mês 2022-06 ---> 259,381,229
#  Mês 2022-07 ---> 261,954,376
#  Mês 2022-08 ---> 263,216,913
#  Mês 2022-09 ---> 260,819,540
#  Mês 2022-10 ---> 261,289,808
#  Mês 2022-11 ---> 254,880,769
#  Mês 2022-12 ---> 251,987,984
 
#  Média dos meses ---> 312,628,522

In [40]:
# # vendo o numero de chips (acesso) por mes, e comparando com a media
# print(f"2ª hipotese: usando o fillna() nos NaN (o calculo da média considerará os zero nas somas dos \n \
# valores e o denominador 12 para o cálculo da média anual de cada linha: \n")

# print(f" Mês 2022-01 ---> {df_2022['2022-01'].sum():,.0f}\n \
# Mês 2022-01 ---> {df_2022['2022-01'].sum():,.0f}\n \
# Mês 2022-02 ---> {df_2022['2022-02'].sum():,.0f}\n \
# Mês 2022-03 ---> {df_2022['2022-03'].sum():,.0f}\n \
# Mês 2022-04 ---> {df_2022['2022-04'].sum():,.0f}\n \
# Mês 2022-05 ---> {df_2022['2022-05'].sum():,.0f}\n \
# Mês 2022-06 ---> {df_2022['2022-06'].sum():,.0f}\n \
# Mês 2022-07 ---> {df_2022['2022-07'].sum():,.0f}\n \
# Mês 2022-08 ---> {df_2022['2022-08'].sum():,.0f}\n \
# Mês 2022-09 ---> {df_2022['2022-09'].sum():,.0f}\n \
# Mês 2022-10 ---> {df_2022['2022-10'].sum():,.0f}\n \
# Mês 2022-11 ---> {df_2022['2022-11'].sum():,.0f}\n \
# Mês 2022-12 ---> {df_2022['2022-12'].sum():,.0f}\n \
# \n \
# Média dos meses ---> {df_2022['media_ano'].sum():,.0f}")

# # Resultado:

# 2ª hipotese: usando o fillna() nos NaN (o calculo da média considerará os zero nas somas dos 
#  valores e o denominador 12 para o cálculo da média anual de cada linha: 

#  Mês 2022-01 ---> 255,676,462
#  Mês 2022-01 ---> 255,676,462
#  Mês 2022-02 ---> 256,443,920
#  Mês 2022-03 ---> 258,272,563
#  Mês 2022-04 ---> 259,241,181
#  Mês 2022-05 ---> 258,760,225
#  Mês 2022-06 ---> 259,381,229
#  Mês 2022-07 ---> 261,954,376
#  Mês 2022-08 ---> 263,216,913
#  Mês 2022-09 ---> 260,819,540
#  Mês 2022-10 ---> 261,289,808
#  Mês 2022-11 ---> 254,880,769
#  Mês 2022-12 ---> 251,987,984
 
#  Média dos meses ---> 258,493,711

In [41]:
# após a rodagem dos testes, vimos que a metodologia que melhor se aplica aos dados (e como
# eles foram organizados após o merge), vamos voltar à célula que antecede os calculos de 'soma_meses' 
# e 'media_ano' , fazer o fillna(0), e rodar os calculos novamente
# o total da soma da coluna 'media_ano' tem que dar aproximadamente 258 milhoes de acessos

In [42]:
df_2022['media_ano'].sum()

258493710.94000018

In [43]:
# testando para ver se o código funciona:

pd.DataFrame(df_2022.groupby('UF').sum()['media_ano'].head(5))

      media_ano
UF
AC    845293.69
AL   3154744.74
AM   4137710.52
AP    813337.79
BA  15384821.15

## Verificando e corrigindo as grafias dos nomes das empresas e grupos econômicos, e suas interações

In [44]:
# criando um novo dataframe para trazer os dados do groupby: uf (unidade da federação), grupo
# grupo econômico e empresa, com a soma da variavel media_ano

# este dataframe é apenas um teste para poder visualizar os erros de grafias das empresas e 
# a atribuição de empresas e grupos econômicos

df_2022_grafia = round(pd.DataFrame(df_2022.groupby(['UF', 'Grupo Econômico', 'Empresa'])['media_ano'].sum()), 2)

In [45]:
# estados: para visualização na função query

df_2022['UF'].unique()

array(['SP', 'MG', 'GO', 'MS', 'PR', 'RJ', 'ES', 'SC', 'RS', 'DF', 'TO',
       'MT', 'AC', 'RO', 'BA', 'SE', 'PE', 'AL', 'PB', 'RN', 'CE', 'PI',
       'PA', 'AM', 'RR', 'AP', 'MA'], dtype=object)

In [46]:
df_2022['Grupo Econômico'].unique()

array(['ALGAR (CTBC TELECOM)', 'LIGGA TELECOM', 'EB FIBRA', 'OUTROS',
       'TELECOM ITALIA', 'TELEFÔNICA', 'TELECOM AMERICAS', 'TELEFONICA',
       'DATORA', 'OI', 'SURF TELECOM', 'AMERICA NET'], dtype=object)

In [47]:
# vou visualizando (célula abaixo) e arrumando (esta célula)

#Criando uma função para corrigir o nome TELEFONICA 
def corrigir_nome(nome):
      if nome == 'TELEFÔNICA':
        return 'TELEFONICA'
      else:
        return nome

# Aplicando a função aos valores da coluna 'Grupo Econômico' no DataFrame
df_2022['Grupo Econômico'] = df_2022['Grupo Econômico'].apply(corrigir_nome)

In [48]:
# usando a função query para ver como os grupos e as empresas estão nominadas em cada estado
# (ou grupo de estado)

df_2022_grafia.query("UF == 'RJ'")

# Mudamos:
# Telefônica para TELEFONICA

# Não mudamos:
# Surf Telecom SA para SURF TELECOM
# America Net S.a. para AMERICA NET
# Next Level Telecom Ltda. para NEXT LEVEL TELECOM LTDA.

# questão levantada pela Jane sobre a integridade da base de dados: só mudamos o que era óbvio, que era
# a Telefonica, e porque ela tem participação de mercado expressiva

                                                       media_ano
UF Grupo Econômico  Empresa
RJ AMERICA NET      AMERICA NET                           640.55
   DATORA           DATORA                             146233.58
   OI               OI                                 703336.54
   OUTROS           America Net S.a.                     2807.14
                    Next Level Telecom Ltda.            10326.34
                    SURF TELECOM SA                     95369.49
                    TELEXPERTS TELECOMUNICAÇÕES S.A.     2979.33
   SURF TELECOM     SURF TELECOM                        19950.32
   TELECOM AMERICAS CLARO                             7126303.75
   TELECOM ITALIA   TIM                               5984547.59
   TELEFONICA       VIVO                                49708.65
   TELEFÔNICA       VIVO                              6544728.49

## Fazendo os dataframes por UF e Grupo Econômico

In [49]:
df_2022_uf = round(pd.DataFrame(df_2022.groupby(['UF', 'Grupo Econômico'])['media_ano'].sum()), 2)
df_2022_uf

                     media_ano
UF Grupo Econômico
AC DATORA              1137.50
   OI                 20252.35
   OUTROS              3202.00
   SURF TELECOM         594.91
   TELECOM AMERICAS  383804.82
...                        ...
TO OUTROS              3480.48
   SURF TELECOM         522.11
   TELECOM AMERICAS  941959.99
   TELECOM ITALIA    328350.00
   TELEFONICA        241455.37

[220 rows x 1 columns]

In [50]:
# criando numa nova coluna chamada 'market_share'

df_2022_uf['market_share'] = round((df_2022_uf['media_ano'] / df_2022_uf.groupby('UF').sum()['media_ano']), 4)

In [51]:
df_2022_uf.head(30)

                      media_ano  market_share
UF Grupo Econômico
AC DATORA               1137.50        0.0013
   OI                  20252.35        0.0240
   OUTROS               3202.00        0.0038
   SURF TELECOM          594.91        0.0007
   TELECOM AMERICAS   383804.82        0.4540
   TELECOM ITALIA      83695.65        0.0990
   TELEFONICA         352606.46        0.4171
AL AMERICA NET             1.00        0.0000
   DATORA               6790.59        0.0022
   OI                 222942.98        0.0707
   OUTROS               4912.24        0.0016
   SURF TELECOM          682.05        0.0002
   TELECOM AMERICAS   849057.10        0.2691
   TELECOM ITALIA     982267.27        0.3114
   TELEFONICA        1088091.51        0.3449
AM AMERICA NET             1.00        0.0000
   DATORA               1193.33        0.0003
   OI                 145031.80        0.0351
   OUTROS               6514.08        0.0016
   SURF TELECOM         1023.50        0.0002
   TELECOM AMERICAS  1675002.85        0.4048
   TELECOM ITALIA     447905.12        0.1082
   TELEFONICA        1861038.84        0.4498
AP AMERICA NET            19.17        0.0000
   OI                  38271.10        0.0471
   OUTROS               4037.48        0.0050
   SURF TELECOM          447.67        0.0006
   TELECOM AMERICAS   213509.37        0.2625
   TELECOM ITALIA     224109.68        0.2755
   TELEFONICA         332943.32        0.4094

In [52]:
# Segundo o Guia de Análise de Atos de Concentração Horizontal do Cade (“Guia H”), o “Índice Herfindahl-Hirschman
# (HHI) pode ser utilizado para o cálculo do grau de concentração dos mercados. O HHI é calculado com base no
# somatório do quadrado das participações de mercado de todas as empresas de um dado mercado. O HHI pode chegar
# até 10.000 pontos, valor no qual há um monopólio, ou seja, em que uma única empresa possua 100% do mercado.”

In [53]:
# Exemplo de cálculo para o Estado do Acre:

# (0.14**2) + (8.34**2) + (0.73**2) + (0.37**2) + (40,61**2) + (12.55**2) + (0.16**2) + (37.10**2)

In [54]:
# Coalculando a contribuição de cada grupo economico para o calculo do HHI da região

# para o cálculo do HHI, primeiro criamos uma coluna chamada hhi_empresa pegando o valor do market_share 
# de cada empresa e elevando o número ao quadrado, e multiplicamos este valor por 10_000
# O calculo do HHI leva em consideração a % de market share na base 100, ou seja: 40%, 30% etc
# como definimos que para o Power BI era melhor deixar o market share em 4 casas decimais e sem a %
# temos que multiplicar o resultado da potencia por 10_000, pois:
# (40**2) = 1_600 ---> ((0.40*10^2)**2) = 1_600

df_2022_uf['hhi_empresa'] = (df_2022_uf['market_share'] ** 2) * 10_000

# ver se vamos chamar de hhi_empresa mesmo, ou se mudamos para hhi_grupo
# também pode ser mudado após a consolidação de todas as tabelas

In [55]:
df_2022_uf.head(20)

                      media_ano  market_share  hhi_empresa
UF Grupo Econômico
AC DATORA               1137.50        0.0013       0.0169
   OI                  20252.35        0.0240       5.7600
   OUTROS               3202.00        0.0038       0.1444
   SURF TELECOM          594.91        0.0007       0.0049
   TELECOM AMERICAS   383804.82        0.4540    2061.1600
   TELECOM ITALIA      83695.65        0.0990      98.0100
   TELEFONICA         352606.46        0.4171    1739.7241
AL AMERICA NET             1.00        0.0000       0.0000
   DATORA               6790.59        0.0022       0.0484
   OI                 222942.98        0.0707      49.9849
   OUTROS               4912.24        0.0016       0.0256
   SURF TELECOM          682.05        0.0002       0.0004
   TELECOM AMERICAS   849057.10        0.2691     724.1481
   TELECOM ITALIA     982267.27        0.3114     969.6996
   TELEFONICA        1088091.51        0.3449    1189.5601
AM AMERICA NET             1.00        0.0000       0.0000
   DATORA               1193.33        0.0003       0.0009
   OI                 145031.80        0.0351      12.3201
   OUTROS               6514.08        0.0016       0.0256
   SURF TELECOM         1023.50        0.0002       0.0004

In [56]:
#a partir da coluna de hhi_empresa, somamos os valores, criando um novo dataframe com uma coluna contendo o 
# cálculo de HHI por região ( que será a UF ou o código de área)

df_2022_hhi_uf = df_2022_uf.groupby('UF')['hhi_empresa'].sum()
df_2022_hhi_uf = pd.DataFrame(df_2022_hhi_uf).reset_index()
df_2022_hhi_uf.columns = ['UF', 'HHI']
df_2022_hhi_uf

# não esquecer de, em algum momento, identificar que esse dataframe é de 2022 (tipo um outro index
# em cima da coluna)

    UF        HHI
0   AC  3904.8203
1   AL  2933.4671
2   AM  3791.2502
3   AP  3146.5863
4   BA  2935.5593
5   CE  2891.0349
6   DF  3170.2847
7   ES  5482.8132
8   GO  3172.4245
9   MA  2998.3437
10  MG  3240.3324
11  MS  3741.1390
12  MT  3772.5363
13  PA  3188.1663
14  PB  2922.1402
15  PE  2867.6609
16  PI  3157.7217
17  PR  3623.6145
18  RJ  3052.4475
19  RN  2891.5814
20  RO  3942.6712
21  RR  4029.7983
22  RS  3576.1514
23  SC  3402.5834
24  SE  4592.9775
25  SP  2943.0941
26  TO  4086.3470

In [57]:
#criar uma função para verificar a concentração de mercado a partir do HHI

def analise_hhi(valor_hhi):
    if valor_hhi <= 1500:
        return "pouco concentrado"
    if valor_hhi > 1500 and valor_hhi <= 2500:
        return "moderado"
    else:
        return "altamente concentrado"

In [58]:
#aplicar a função analise_hhi no dataframe, criando uma coluna analise_mercado_hhi
df_2022_hhi_uf['analise_mercado_hhi'] = df_2022_hhi_uf['HHI'].apply(analise_hhi)
df_2022_hhi_uf

    UF        HHI    analise_mercado_hhi
0   AC  3904.8203  altamente concentrado
1   AL  2933.4671  altamente concentrado
2   AM  3791.2502  altamente concentrado
3   AP  3146.5863  altamente concentrado
4   BA  2935.5593  altamente concentrado
5   CE  2891.0349  altamente concentrado
6   DF  3170.2847  altamente concentrado
7   ES  5482.8132  altamente concentrado
8   GO  3172.4245  altamente concentrado
9   MA  2998.3437  altamente concentrado
10  MG  3240.3324  altamente concentrado
11  MS  3741.1390  altamente concentrado
12  MT  3772.5363  altamente concentrado
13  PA  3188.1663  altamente concentrado
14  PB  2922.1402  altamente concentrado
15  PE  2867.6609  altamente concentrado
16  PI  3157.7217  altamente concentrado
17  PR  3623.6145  altamente concentrado
18  RJ  3052.4475  altamente concentrado
19  RN  2891.5814  altamente concentrado
20  RO  3942.6712  altamente concentrado
21  RR  4029.7983  altamente concentrado
22  RS  3576.1514  altamente concentrado
23  SC  3402.5834  altamente concentrado
24  SE  4592.9775  altamente concentrado
25  SP  2943.0941  altamente concentrado
26  TO  4086.3470  altamente concentrado

In [59]:
# já temos 2 dataframes para transformar em csv: 'df_2022_uf' e 'df_2022_hhi_uf'
# faremos isso adiante

## Fazendo os dataframes por Código Nacional e Grupo Econômico

In [60]:
df_2022_ddd = round(pd.DataFrame(df_2022.groupby(['Código Nacional', 'Grupo Econômico'])['media_ano'].sum()), 2)
df_2022_ddd

                                   media_ano
Código Nacional Grupo Econômico
11              AMERICA NET         10493.42
                DATORA             391652.67
                OI                1109488.89
                OUTROS             256297.70
                SURF TELECOM        16298.70
...                                      ...
99              OUTROS               3857.34
                SURF TELECOM          502.49
                TELECOM AMERICAS   827473.58
                TELECOM ITALIA     653089.86
                TELEFONICA         583963.63

[543 rows x 1 columns]

In [61]:
# criando numa nova coluna chamada 'market_share'

df_2022_ddd['market_share'] = round((df_2022_ddd['media_ano'] / df_2022_ddd.groupby('Código Nacional').sum()['media_ano']), 4)

In [62]:
df_2022_ddd.head(30)

                                        media_ano  market_share
Código Nacional Grupo Econômico
11              AMERICA NET              10493.42        0.0002
                DATORA                  391652.67        0.0092
                OI                     1109488.89        0.0262
                OUTROS                  256297.70        0.0061
                SURF TELECOM             16298.70        0.0004
                TELECOM AMERICAS      15183014.99        0.3584
                TELECOM ITALIA        10303982.61        0.2432
                TELEFONICA            15089062.54        0.3562
12              AMERICA NET               2873.11        0.0008
                DATORA                   37445.00        0.0103
                OI                       99887.00        0.0274
                OUTROS                   59627.69        0.0164
                SURF TELECOM              1858.51        0.0005
                TELECOM AMERICAS       1002573.07        0.2751
                TELECOM ITALIA         1028433.04        0.2822
                TELEFONICA             1412187.39        0.3874
13              AMERICA NET                 25.90        0.0000
                DATORA                   56500.58        0.0176
                OI                       96651.02        0.0302
                OUTROS                   51292.15        0.0160
                SURF TELECOM              1390.42        0.0004
                TELECOM AMERICAS       1072712.05        0.3351
                TELECOM ITALIA          672575.64        0.2101
                TELEFONICA             1250318.84        0.3905
14              ALGAR (CTBC TELECOM)         1.91        0.0000
                AMERICA NET               1396.17        0.0004
                DATORA                   24993.25        0.0076
                OI                       64551.55        0.0198
                OUTROS                   46685.98        0.0143
                SURF TELECOM               978.35        0.0003

In [63]:
# Segundo o Guia de Análise de Atos de Concentração Horizontal do Cade (“Guia H”), o “Índice Herfindahl-Hirschman
# (HHI) pode ser utilizado para o cálculo do grau de concentração dos mercados. O HHI é calculado com base no
# somatório do quadrado das participações de mercado de todas as empresas de um dado mercado. O HHI pode chegar
# até 10.000 pontos, valor no qual há um monopólio, ou seja, em que uma única empresa possua 100% do mercado.”

In [64]:
# Calculando a contribuição de cada grupo economico para o calculo do HHI da região

# para o cálculo do HHI, primeiro criamos uma coluna chamada hhi_empresa pegando o valor do market_share 
# de cada empresa e elevando o número ao quadrado, e multiplicamos este valor por 10_000
# O calculo do HHI leva em consideração a % de market share na base 100, ou seja: 40%, 30% etc
# como definimos que para o Power BI era melhor deixar o market share em 4 casas decimais e sem a %
# temos que multiplicar o resultado da potencia por 10_000, pois:
# (40**2) = 1_600 ---> ((0.40*10^2)**2) = 1_600

df_2022_ddd['hhi_empresa'] = (df_2022_ddd['market_share'] ** 2) * 10_000

# ver se vamos chamar de hhi_empresa mesmo, ou se mudamos para hhi_grupo
# também pode ser mudado após a consolidação de todas as tabelas

In [65]:
df_2022_ddd.head(20)

                                    media_ano  market_share  hhi_empresa
Código Nacional Grupo Econômico
11              AMERICA NET          10493.42        0.0002       0.0004
                DATORA              391652.67        0.0092       0.8464
                OI                 1109488.89        0.0262       6.8644
                OUTROS              256297.70        0.0061       0.3721
                SURF TELECOM         16298.70        0.0004       0.0016
                TELECOM AMERICAS  15183014.99        0.3584    1284.5056
                TELECOM ITALIA    10303982.61        0.2432     591.4624
                TELEFONICA        15089062.54        0.3562    1268.7844
12              AMERICA NET           2873.11        0.0008       0.0064
                DATORA               37445.00        0.0103       1.0609
                OI                   99887.00        0.0274       7.5076
                OUTROS               59627.69        0.0164       2.6896
                SURF TELECOM          1858.51        0.0005       0.0025
                TELECOM AMERICAS   1002573.07        0.2751     756.8001
                TELECOM ITALIA     1028433.04        0.2822     796.3684
                TELEFONICA         1412187.39        0.3874    1500.7876
13              AMERICA NET             25.90        0.0000       0.0000
                DATORA               56500.58        0.0176       3.0976
                OI                   96651.02        0.0302       9.1204
                OUTROS               51292.15        0.0160       2.5600

In [66]:
#a partir da coluna de hhi_empresa, somamos os valores, criando um novo dataframe com uma coluna contendo o 
# cálculo de HHI por região (que será a UF ou o código de área)

df_2022_hhi_ddd = df_2022_ddd.groupby('Código Nacional')['hhi_empresa'].sum()
df_2022_hhi_ddd = pd.DataFrame(df_2022_hhi_ddd).reset_index()
df_2022_hhi_ddd.columns = ['DDD', 'HHI']
df_2022_hhi_ddd

# não esquecer de, em algum momento, identificar que esse dataframe é de 2022 (tipo um outro index
# em cima da coluna)

# fiquei na dívida se era para nomear a coluna como 'DDD' ou 'Código Nacional', conforme df original

    DDD        HHI
0    11  3152.8373
1    12  3065.2231
2    13  3104.0223
3    14  3733.6484
4    15  3766.3022
..  ...        ...
62   95  4029.7983
63   96  3146.5863
64   97  3886.1796
65   98  3056.1146
66   99  3055.3611

[67 rows x 2 columns]

In [67]:
#criar uma função para verificar a concentração de mercado a partir do HHI

def analise_hhi(valor_hhi):
    if valor_hhi <= 1500:
        return "pouco concentrado"
    if valor_hhi > 1500 and valor_hhi <= 2500:
        return "moderado"
    else:
        return "altamente concentrado"

In [68]:
#aplicar a função analise_hhi no dataframe, criando uma coluna analise_mercado_hhi
df_2022_hhi_ddd['analise_mercado_hhi'] = df_2022_hhi_ddd['HHI'].apply(analise_hhi)
df_2022_hhi_ddd

    DDD        HHI    analise_mercado_hhi
0    11  3152.8373  altamente concentrado
1    12  3065.2231  altamente concentrado
2    13  3104.0223  altamente concentrado
3    14  3733.6484  altamente concentrado
4    15  3766.3022  altamente concentrado
..  ...        ...                    ...
62   95  4029.7983  altamente concentrado
63   96  3146.5863  altamente concentrado
64   97  3886.1796  altamente concentrado
65   98  3056.1146  altamente concentrado
66   99  3055.3611  altamente concentrado

[67 rows x 3 columns]

In [69]:
# temos outros 2 dois dataframes para transformar em csv: 'df_2022_ddd' e 'df_2022_hhi_ddd'
# faremos isso adiante

## Transformando os dataframes obtidos em arquivos 'csv'

In [70]:
# vamos transformar os seguintes arquivos em csv para que possamos fazer a junção dos diversos
# anos que estamos trabalhando:
# 'df_2022_uf'
# 'df_2022_hhi_uf'
# 'df_2022_ddd' 
# 'df_2022_hhi_ddd'

In [71]:
df_2022_uf.to_csv("cm_2022_uf.csv", sep=';', decimal = ",", encoding='utf-8')

In [72]:
df_2022_hhi_uf.to_csv("hhi_2022_uf.csv", sep=';', decimal = ",", encoding='utf-8')

In [73]:
df_2022_ddd.to_csv("cm_2022_ddd.csv", sep=';', decimal = ",", encoding='utf-8')

In [74]:
df_2022_hhi_ddd.to_csv("hhi_2022_ddd.csv", sep=';', decimal = ",", encoding='utf-8')

In [75]:
# como também vamos usar o arquivo concanetado para análise da tecnologia, vamos transformar o
# nosso dataframe já concatenado, tratado (com valores NaN zerados), e grafias corrigidas, 
# para um arquivo csv

In [76]:
df_2022['media_ano'].sum()

258493710.94000018

In [77]:
df_2022.isna().sum()

# vemos que todos os dados estão zerados (sem NaN)

CNPJ                      0
Código Nacional           0
Município                 0
UF                        0
Modalidade de Cobrança    0
Tecnologia                0
Tecnologia Geração        0
Empresa                   0
Porte da Prestadora       0
Tipo de Pessoa            0
Tipo de Produto           0
Código IBGE Município     0
Grupo Econômico           0
2022-01                   0
2022-02                   0
2022-03                   0
2022-04                   0
2022-05                   0
2022-06                   0
2022-07                   0
2022-08                   0
2022-09                   0
2022-10                   0
2022-11                   0
2022-12                   0
soma_meses                0
media_ano                 0
dtype: int64

In [78]:
# mas antes vamos ver nosso arquivo df_2022 e se os dados salvos ao longo no notebbok realmente 
# estão corretos (se não salvamos, por engano, em outra variável)
df_2022.head()

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,soma_meses,media_ano
0,71208516000174,14,Bastos,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,18.0,1.50
1,71208516000174,14,Bastos,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.33
2,71208516000174,16,Sertãozinho,SP,Pós-pago,LTE,4G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Jurídica,...,4.0,4.0,1.0,3.0,3.0,2.0,2.0,2.0,44.0,3.67
3,71208516000174,16,Sertãozinho,SP,Pós-pago,WCDMA,3G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,8.0,0.67
4,71208516000174,16,Altinópolis,SP,Pós-pago,GSM,2G,ALGAR (CTBC TELECOM),Pequeno Porte,Pessoa Física,...,42.0,42.0,41.0,40.0,40.0,41.0,41.0,41.0,495.0,41.25

In [79]:
df_2022['Grupo Econômico'].unique()

# vemos que a 'telefonica' (que, no caso deste dataframe, era o único grupo econômico que tinha 
# nome em duplicidade), já não tem mais nome em duplicidade

array(['ALGAR (CTBC TELECOM)', 'LIGGA TELECOM', 'EB FIBRA', 'OUTROS',
       'TELECOM ITALIA', 'TELEFONICA', 'TELECOM AMERICAS', 'DATORA', 'OI',
       'SURF TELECOM', 'AMERICA NET'], dtype=object)

In [80]:
# conferencia do montante total de acessos (tem que ser por volta de 250 a 260 milhões de acessos)

df_2022['media_ano'].sum()

258493710.94000018

In [81]:
# conferencia feita, podemos salvar o arquivo no formado csv:

df_2022.to_csv("df_2022_.csv", sep=';', decimal = ",", encoding='utf-8')

## Extra - colocando o HHI no mesmo df de Concentração de Mercado

In [82]:
# outra forma de calcular o hhi (com Lambda)

df_2022_uf.market_share.map(lambda s: s ** 2).groupby('UF').sum()

UF
AC    0.390482
AL    0.293347
AM    0.379125
AP    0.314659
BA    0.293556
CE    0.289103
DF    0.317028
ES    0.548281
GO    0.317242
MA    0.299834
MG    0.324033
MS    0.374114
MT    0.377254
PA    0.318817
PB    0.292214
PE    0.286766
PI    0.315772
PR    0.362361
RJ    0.305245
RN    0.289158
RO    0.394267
RR    0.402980
RS    0.357615
SC    0.340258
SE    0.459298
SP    0.294309
TO    0.408635
Name: market_share, dtype: float64

In [83]:
# ajuda do fábio para fazermos esta concatenação

# atribuindo outro nome ao df para não mexer nos dataframes já finalizados

df_hhi_teste = df_2022_uf.assign(HHI = lambda df: df['market_share'] ** 2).groupby('UF').sum().loc[:, ['HHI']]

In [84]:
df_teste = df_2022_uf.merge(df_hhi_teste, left_index = True, right_index = True)

In [85]:
df_teste[0:15]

                      media_ano  market_share  hhi_empresa       HHI
UF Grupo Econômico
AC DATORA               1137.50        0.0013       0.0169  0.390482
   OI                  20252.35        0.0240       5.7600  0.390482
   OUTROS               3202.00        0.0038       0.1444  0.390482
   SURF TELECOM          594.91        0.0007       0.0049  0.390482
   TELECOM AMERICAS   383804.82        0.4540    2061.1600  0.390482
   TELECOM ITALIA      83695.65        0.0990      98.0100  0.390482
   TELEFONICA         352606.46        0.4171    1739.7241  0.390482
AL AMERICA NET             1.00        0.0000       0.0000  0.293347
   DATORA               6790.59        0.0022       0.0484  0.293347
   OI                 222942.98        0.0707      49.9849  0.293347
   OUTROS               4912.24        0.0016       0.0256  0.293347
   SURF TELECOM          682.05        0.0002       0.0004  0.293347
   TELECOM AMERICAS   849057.10        0.2691     724.1481  0.293347
   TELECOM ITALIA     982267.27        0.3114     969.6996  0.293347
   TELEFONICA        1088091.51        0.3449    1189.5601  0.293347

## Outras coisas aleatórias

In [86]:
# print()
# print()
# print()
# print()
# print()
# print()
# # print()
# print()
# print()
# print()
# print()

# usamos este comando dando entrer para avançar linhas, e depois alt arrasta para marcar as linhas que terão comando

In [87]:
# colocar sinal de percentagem na interpolação do print

# print(f"{12.345:.2f}%") # esse código imprime em %

In [88]:
# df_2022_uf['HHI'] = df_2022_uf.groupby(['UF']).agg('sum')['hhi_empresa']

# df_2022_uf.market_share.map(lambda s: s ** 2).groupby('UF').sum()

In [89]:
# subir apenas um arquivo no git

# git commit "bootcamp/day 08/Limpeza e Prepara\303\247\303\243o dos Dados.ipynb" -m "Limpeza_dados"

Passo a passo (Thais) para usar de forma compatilhada o git:

1) Sempre antes de criar a branch (para atualizar as coisas da pasta do github para meu computador e garantir que estamos na main)

(é usado para mudar para a branch principal do seu repositório Git,)

            git checkout main 

2) Use o comando git pull para buscar as alterações da branch "main" remota e mesclá-las na sua branch "main" local:

            git pull origin main

3) Se houver conflitos durante a mesclagem, o Git o notificará e você precisará resolvê-los manualmente

Descartar as Alterações Locais:
            
            git checkout .
            git pull origin main

4) Para criar uma new branch:

            git checkout -b exemplos_reais_day3

daí faço as alterações no arquivo

5) Para checar onde estou alterando:

            git branch

7) Para ver as modificações

            git status

8) Para alterar um arquivo específico

            git commit "bootcamp/day 08/Limpeza e Prepara\303\247\303\243o dos Dados.ipynb" -m "Limpeza_dados"


10) Para subir efetivamente

            git push