# Dados de telefonia móvel - Ano 2019 by Jane Adriana

In [1]:
import pandas as pd

# DataFrames 2019

In [ ]:
## Dataframe - 1º semestre de 2019

In [ ]:
acessos_2019_1 = 'D:\cv\BootCamp\Projeto\data\data\Acessos_Telefonia_Movel_201901-201906_Colunas.csv'
df_2019_1 = pd.read_csv(acessos_2019_1, sep=';', low_memory=False)

In [ ]:
## Dataframe - 2º semestre de 2019

In [ ]:
acessos_2019_2 = 'D:\cv\BootCamp\Projeto\data\data\Acessos_Telefonia_Movel_201907-201912_Colunas.csv'
df_2019_2 = pd.read_csv(acessos_2019_2, sep=';',low_memory=False)

In [3]:
# df_2019_1 = df_2019_1.fillna(0)
#celula exclusiva para rodar testes

In [4]:
df_2019_1.head()

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,Tipo de Produto,Código IBGE Município,Grupo Econômico,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06
0,1778972000174,11,Santo André,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,VOZ+DADOS,3547809,OUTROS,NaN,NaN,NaN,NaN,NaN,1.0
1,1778972000174,11,Santo André,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Jurídica,VOZ+DADOS,3547809,OUTROS,NaN,NaN,102.0,3.0,33.0,NaN
2,1778972000174,11,Arujá,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,VOZ+DADOS,3503901,OUTROS,10.0,300.0,779.0,1187.0,1115.0,1110.0
3,1778972000174,11,Arujá,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Jurídica,VOZ+DADOS,3503901,OUTROS,1.0,2.0,1.0,2.0,6.0,4002.0
4,1778972000174,11,Barueri,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,VOZ+DADOS,3505708,OUTROS,1.0,NaN,NaN,NaN,1001.0,NaN

In [5]:
# estudando o arquivo df_2022_1 (1º semestre) individualmente (para ver se bate com o 'merge')

print(df_2019_1.shape)
print()
print(df_2019_1.isna().sum())
print()
print(df_2019_1.columns)

(263288, 19)

CNPJ                          0
Código Nacional               0
Município                     0
UF                            0
Modalidade de Cobrança        0
Tecnologia                    0
Tecnologia Geração            0
Empresa                    2102
Porte da Prestadora        2102
Tipo de Pessoa                0
Tipo de Produto               0
Código IBGE Município         0
Grupo Econômico            2102
2019-01                   24214
2019-02                   21351
2019-03                   23424
2019-04                   21032
2019-05                   20632
2019-06                   20414
dtype: int64

Index(['CNPJ', 'Código Nacional', 'Município', 'UF', 'Modalidade de Cobrança',
       'Tecnologia', 'Tecnologia Geração', 'Empresa', 'Porte da Prestadora',
       'Tipo de Pessoa', 'Tipo de Produto', 'Código IBGE Município',
       'Grupo Econômico', '2019-01', '2019-02', '2019-03', '2019-04',
       '2019-05', '2019-06'],
      dtype='object')

In [7]:
df_2019_1['2019-01'].value_counts()

2022-01
1.0        48970
2.0        25863
3.0        17644
4.0        13011
5.0        10400
           ...
18830.0        1
8999.0         1
18331.0        1
12004.0        1
22473.0        1
Name: count, Length: 10433, dtype: int64

## Dataframe - 2º semestre de 2019

In [8]:
# df_2019_2 = df_2019_2.fillna(0) 
# celula exclusiva para rodar testes

In [6]:
df_2019_2.head()

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,Tipo de Produto,Código IBGE Município,Grupo Econômico,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,1778972000174,11,Santo André,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,VOZ+DADOS,3547809,OUTROS,13.0,14.0,12.0,13.0,13.0,13.0
1,1778972000174,11,Santo André,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Jurídica,VOZ+DADOS,3547809,OUTROS,72.0,78.0,78.0,78.0,33.0,33.0
2,1778972000174,11,Arujá,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,VOZ+DADOS,3503901,OUTROS,1643.0,1615.0,1728.0,1581.0,1561.0,1575.0
3,1778972000174,11,Arujá,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Jurídica,VOZ+DADOS,3503901,OUTROS,23.0,24.0,22.0,23.0,23.0,22.0
4,1778972000174,11,Barueri,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,VOZ+DADOS,3505708,OUTROS,28.0,136.0,48.0,74.0,107.0,112.0

In [7]:
# estudando o arquivo df_2019_2 (2º semestre) individualmente (para ver se bate com o 'merge')

print(df_2019_2.shape)
print()
print(df_2019_2.isna().sum())
print()
print(df_2019_2.columns)

(293889, 19)

CNPJ                          0
Código Nacional               0
Município                     0
UF                            0
Modalidade de Cobrança        0
Tecnologia                    0
Tecnologia Geração            0
Empresa                    1971
Porte da Prestadora        1971
Tipo de Pessoa                0
Tipo de Produto               0
Código IBGE Município         0
Grupo Econômico            1971
2019-07                   50790
2019-08                   50840
2019-09                   49143
2019-10                   44789
2019-11                   40229
2019-12                   30866
dtype: int64

Index(['CNPJ', 'Código Nacional', 'Município', 'UF', 'Modalidade de Cobrança',
       'Tecnologia', 'Tecnologia Geração', 'Empresa', 'Porte da Prestadora',
       'Tipo de Pessoa', 'Tipo de Produto', 'Código IBGE Município',
       'Grupo Econômico', '2019-07', '2019-08', '2019-09', '2019-10',
       '2019-11', '2019-12'],
      dtype='object')

# Dataframe - Ano de 2019 (merge)

In [8]:
df_2019 = pd.merge(df_2019_1, df_2019_2, how='outer')

In [9]:
df_2019.head(5)

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,1778972000174,11,Santo André,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,...,NaN,NaN,NaN,1.0,13.0,14.0,12.0,13.0,13.0,13.0
1,1778972000174,11,Santo André,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Jurídica,...,102.0,3.0,33.0,NaN,72.0,78.0,78.0,78.0,33.0,33.0
2,1778972000174,11,Arujá,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,...,779.0,1187.0,1115.0,1110.0,1643.0,1615.0,1728.0,1581.0,1561.0,1575.0
3,1778972000174,11,Arujá,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Jurídica,...,1.0,2.0,6.0,4002.0,23.0,24.0,22.0,23.0,23.0,22.0
4,1778972000174,11,Barueri,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,...,NaN,NaN,1001.0,NaN,28.0,136.0,48.0,74.0,107.0,112.0

In [48]:
print(df_2019.shape)
print()
print(df_2019.isna().sum())
print()
print(df_2019.columns)

(304613, 27)

CNPJ                      0
Código Nacional           0
Município                 0
UF                        0
Modalidade de Cobrança    0
Tecnologia                0
Tecnologia Geração        0
Empresa                   0
Porte da Prestadora       0
Tipo de Pessoa            0
Tipo de Produto           0
Código IBGE Município     0
Grupo Econômico           0
2019-01                   0
2019-02                   0
2019-03                   0
2019-04                   0
2019-05                   0
2019-06                   0
2019-07                   0
2019-08                   0
2019-09                   0
2019-10                   0
2019-11                   0
2019-12                   0
soma_meses                0
media_ano                 0
dtype: int64

Index(['CNPJ', 'Código Nacional', 'Município', 'UF', 'Modalidade de Cobrança',
       'Tecnologia', 'Tecnologia Geração', 'Empresa', 'Porte da Prestadora',
       'Tipo de Pessoa', 'Tipo de Produto', 'Código IBGE Município',
       'Grupo Econômico', '2019-01', '2019-02', '2019-03', '2019-04',
       '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10',
       '2019-11', '2019-12', 'soma_meses', 'media_ano'],
      dtype='object')

## Análise da qualidade dos dados (grafia dos valores)

In [10]:
# vendo o tipo de dado que tenho por coluna
# os dados estão ok: os numéricos (especialmente os do número de acessos) estão no 
# formato float (e não object)

df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304613 entries, 0 to 304612
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CNPJ                    304613 non-null  int64
 1   Código Nacional         304613 non-null  int64
 2   Município               304613 non-null  object
 3   UF                      304613 non-null  object
 4   Modalidade de Cobrança  304613 non-null  object
 5   Tecnologia              304613 non-null  object
 6   Tecnologia Geração      304613 non-null  object
 7   Empresa                 302483 non-null  object
 8   Porte da Prestadora     302483 non-null  object
 9   Tipo de Pessoa          304613 non-null  object
 10  Tipo de Produto         304613 non-null  object
 11  Código IBGE Município   304613 non-null  int64
 12  Grupo Econômico         302483 non-null  object
 13  2019-01                 239074 non-null  float64
 14  2019-02                 241937 non-null  float64
 15  2019-03                 239864 non-null  float64
 16  2019-04                 242256 non-null  float64
 17  2019-05                 242656 non-null  float64
 18  2019-06                 242874 non-null  float64
 19  2019-07                 243099 non-null  float64
 20  2019-08                 243049 non-null  float64
 21  2019-09                 244746 non-null  float64
 22  2019-10                 249100 non-null  float64
 23  2019-11                 253660 non-null  float64
 24  2019-12                 263023 non-null  float64
dtypes: float64(12), int64(3), object(10)
memory usage: 58.1+ MB

In [11]:
# vendo o tipo de dado que tenho em cada coluna do dataframe (ou quantidade, ou qualidade), para
# ver se não há strings repetidas com diferentes grafias

# CNPJ (quantidade)
print(f"CNPJ - ", len(df_2019['CNPJ'].unique()))

print()
# Codigo nacional (quantidade)
print(f"Código Nacional - ", len(df_2019['Código Nacional'].unique()))

print()
# Município (quantidade)
print(f"Município - ", len(df_2019['Município'].unique()))

print()
# UF (dados)
print(f"UF - ", len(df_2019['Município'].unique()))
print(f"UF - ", df_2019['UF'].unique())

print()
# Modalidade de Cobrança (quantidade)
print(f"Modalidade de Cobrança - ", len(df_2019['Modalidade de Cobrança'].unique()))
# Modalidade de Cobrança (dados)
print(f"Modalidade de Cobrança - ", df_2019['Modalidade de Cobrança'].unique())

print()
# Tecnologia (quantidade)
print(f"Tecnologia - ", len(df_2019['Tecnologia'].unique()))
# Tecnologia (dados)
print(f"Tecnologia - ", df_2019['Tecnologia'].unique())

print()
# Tecnologia Geração (quantidade)
print(f"Tecnologia Geração - ", len(df_2019['Tecnologia Geração'].unique()))
# Tecnologia Geração (dados)
print(f"Tecnologia Geração - ", df_2019['Tecnologia Geração'].unique())

print()
# Empresa (quantidade)
print(f"Empresa - ", len(df_2019['Empresa'].unique()))
# Empresa (dados)
print(f"Empresa - ", df_2019['Empresa'].unique())

print()
# Porte da Prestadora (quantidade)
print(f"Porte da Prestadora - ", len(df_2019['Porte da Prestadora'].unique()))
# Porte da Prestadora (dados)
print(f"Porte da Prestadora - ", df_2019['Porte da Prestadora'].unique())

print()
# Tipo de Pessoa (quantidade)
print(f"Tipo de Pessoa - ", len(df_2019['Tipo de Pessoa'].unique()))
# Tipo de Pessoa (dados)
print(f"Tipo de Pessoa - ", df_2019['Tipo de Pessoa'].unique())

print()
# Tipo de Produto (quantidade)
print(f"Tipo de Produto - ", len(df_2019['Tipo de Produto'].unique()))
# Tipo de Produto (dados)
print(f"Tipo de Produto - ", df_2019['Tipo de Produto'].unique())

print()
# Código IBGE Município (quantidade)
print(f"Código IBGE Município - ", len(df_2019['Código IBGE Município'].unique()))

print()
# Grupo Econômico (quantidade)
print(f"Grupo Econômico - ", len(df_2019['Grupo Econômico'].unique()))
# Grupo Econômico (dados)
print(f"Grupo Econômico - ", df_2019['Grupo Econômico'].unique())

CNPJ -  13

Código Nacional -  67

Município -  5297

UF -  5297
UF -  ['SP' 'RJ' 'ES' 'MG' 'PR' 'RS' 'DF' 'SC' 'GO' 'TO' 'MT' 'MS' 'AC' 'RO'
 'BA' 'SE' 'PE' 'AL' 'PB' 'RN' 'CE' 'PI' 'PA' 'AM' 'RR' 'AP' 'MA']

Modalidade de Cobrança -  2
Modalidade de Cobrança -  ['Pós-pago' 'Pré-pago']

Tecnologia -  4
Tecnologia -  ['LTE' 'GSM' 'WCDMA' 'CDMA IS 95']

Tecnologia Geração -  3
Tecnologia Geração -  ['4G' '2G' '3G']

Empresa -  13
Empresa -  ['America Net S.a.' 'CLARO' 'SURF TELECOM SA' 'Ligue Móvel S.A' 'NEXTEL'
 'PREFEITURA DE LONDRINA/COPEL' 'TIM' 'VIVO' 'DATORA'
 'J. SAFRA TELECOMUNICACOES LTDA' 'OI' nan 'ALGAR (CTBC TELECOM)']

Porte da Prestadora -  3
Porte da Prestadora -  ['Pequeno Porte' 'Grande Porte' nan]

Tipo de Pessoa -  2
Tipo de Pessoa -  ['Pessoa Física' 'Pessoa Jurídica']

Tipo de Produto -  7
Tipo de Produto -  ['VOZ+DADOS' 'VOZ' 'M2M_PADRAO' 'M2M_ESPECIAL' 'DADOS' 'OCIOSO'
 'OCIOSO_M2M_ESPECIAL']

Código IBGE Município -  5570

Grupo Econômico -  10
Grupo Econômico -  ['OUTROS' 'TELECOM AMERICAS' 'NEXTEL' 'PREFEITURA DE LONDRINA/COPEL'
 'TELECOM ITALIA' 'TELEFÔNICA' 'DATORA' 'OI' nan 'ALGAR (CTBC TELECOM)']

In [12]:
# disparidades aparentes:

# são 5570 codigos de municios IBGE
# solução: ignorar os codigos do ibge e trabalhar só com os nomes dos municipios

# empresas:
# 16 CNPJs de empresas fornecedoras
# 15 empresas
# 13 grupos econcomicos
# dentre as empresas ['ALGAR (CTBC TELECOM)' 'LIGGA TELECOM' 'EB FIBRA' 'SURF TELECOM SA' 'TIM'
#  'America Net S.a.' 'TELEXPERTS TELECOMUNICAÇÕES S.A.' 'VIVO' 'CLARO'
#  'Next Level Telecom Ltda.' 'J. SAFRA TELECOMUNICACOES LTDA' 'DATORA' 'OI'
#  'SURF TELECOM' 'AMERICA NET'], Surf Telecom é repetida (ora com SA no nome, ora sem)

# Tecnologia: 
# são 6 tecnologias: ['LTE' 'WCDMA' 'GSM' 'CDMA IS 95' 'NR NSA' 'NR']
print(df_2019['Tecnologia'].value_counts())
# Tecnologia
# LTE           257120
# GSM           195426
# WCDMA         180081
# NR              1163
# NR NSA           701
# CDMA IS 95        85

Tecnologia
LTE           106860
WCDMA          99909
GSM            97710
CDMA IS 95       134
Name: count, dtype: int64

In [17]:
## Análise da qualidade dos dados (Not a Number)

In [13]:
# conferindo os not a number (NaN)
df_2019.isna().sum()

# temos NaN apenas nas colunas dos meses

CNPJ                          0
Código Nacional               0
Município                     0
UF                            0
Modalidade de Cobrança        0
Tecnologia                    0
Tecnologia Geração            0
Empresa                    2130
Porte da Prestadora        2130
Tipo de Pessoa                0
Tipo de Produto               0
Código IBGE Município         0
Grupo Econômico            2130
2019-01                   65539
2019-02                   62676
2019-03                   64749
2019-04                   62357
2019-05                   61957
2019-06                   61739
2019-07                   61514
2019-08                   61564
2019-09                   59867
2019-10                   55513
2019-11                   50953
2019-12                   41590
dtype: int64

In [14]:
# vendo a qualidade dos dados em cada uma dessas colunas)
print("True ---> dados nulos")
print("False ---> dados numéricos \n")

print(df_2019['2019-01'].isna().value_counts())

print()
print(df_2019['2019-02'].isna().value_counts())

print()
print(df_2019['2019-03'].isna().value_counts())

print()
print(df_2019['2019-04'].isna().value_counts())

print()
print(df_2019['2019-05'].isna().value_counts())

print()
print(df_2019['2019-06'].isna().value_counts())

print()
print(df_2019['2019-07'].isna().value_counts())

print()
print(df_2019['2019-08'].isna().value_counts())

print()
print(df_2019['2019-09'].isna().value_counts())

print()
print(df_2019['2019-10'].isna().value_counts())

print()
print(df_2019['2019-11'].isna().value_counts())

print()
print(df_2019['2019-12'].isna().value_counts())

True ---> dados nulos
False ---> dados numéricos

2019-01
False    239074
True      65539
Name: count, dtype: int64

2019-02
False    241937
True      62676
Name: count, dtype: int64

2019-03
False    239864
True      64749
Name: count, dtype: int64

2019-04
False    242256
True      62357
Name: count, dtype: int64

2019-05
False    242656
True      61957
Name: count, dtype: int64

2019-06
False    242874
True      61739
Name: count, dtype: int64

2019-07
False    243099
True      61514
Name: count, dtype: int64

2019-08
False    243049
True      61564
Name: count, dtype: int64

2019-09
False    244746
True      59867
Name: count, dtype: int64

2019-10
False    249100
True      55513
Name: count, dtype: int64

2019-11
False    253660
True      50953
Name: count, dtype: int64

2019-12
False    263023
True      41590
Name: count, dtype: int64

In [20]:
# nas colunas dos meses, cerca de metade dos dados são nan
# # mas isso nao desqualifica a análise, pois:
# a) os dados da Anatel estão organizados por semestre (1 tabela para jan a jun e 1 tabela 
# para jul a dez)
# b) ao conferir a tabela original para ver como esses NaN constavam, nas células respectivas
# não constava nenhuma informação: a célula estava em branco (não eram strings e nem caracteres
# especiais, por exemplo)
# c) assim, na tabela original, essas células estavam zeradas: ou nao haviam chips ativos naquele 
# mês, por linha de dados (empresa, cliente, tecnologia etc.), ou a empresa não preencheu os dados
# d) mesclamos as duas tabelas de cada ano por meio da operação merge, parâmetro auter
# e) ao fazer o merge, vimos que a tabela que, antes tinha 19 colunas (13 colunas com dados majoritariamente 
# de strings e 6 colunas de dados de acesso, referente aos meses jan-jun), passou a ter 25 colunas, 
# pois recebeu a 6 colunas dos meses jul-dez da 2ª tabela 
# e) para as linhas que tinham exatamente as mesmas informações nas 13 colunas precedentes de strings (CNPJ,                                                                                                
# Empresa, Porte da Pessoa, tipo de Produto, Tecnologia etc.), as informações de ambos os semestres foram preenchidas
# f) mas, em casos em que não havia identidade de grafia nas informações das 13 colunas, o python jogou os 
# dados relativos ao 2º semestre para uma linha completamente nova, preenchendo o espaço referente aos 
# meses jan-jul com NaN
# g) nessa migração, a tabela consolidada passou a contar com uma quantidade bastante grande de Nan
# h) passou-se, então, para a análise de como tratar esses dados

In [19]:
# vendo os Not a Number (NaN) do 1º semestre e sua relevância face ao total de informações do dataset

print("1º semestre de 2019:")

print(f"Quantidade de NaN: ", df_2019_1[['2019-01', '2019-02', '2019-03', '2019-04',
       '2019-05', '2019-06']].isna().sum().sum())

# O shape do 1º semestre é
print(f"Linhas e colunas: ", df_2019_1.shape)

# numero total de entradas no meu dataframe
print(f"Total de entradas no meu df: ", df_2019_1.shape[0] * df_2019_1.shape[1])

# vendo a percentagem no Nan na tabela do 1º semestre face ao total de informações
dado1 = df_2019_1[['2019-01', '2019-02', '2019-03', '2019-04',
       '2019-05', '2019-06']].isna().sum().sum() / (df_2019_1.shape[0] * df_2019_1.shape[1])
print(f"No 1º semestre de 2019, os dados NaN representam {dado1*100:.2f}% do total de entradas no dataframe")

# vendo a percentagem no Nan na tabela do 1º semestre face ao total de informações nas colunas dos meses:
dado1s = df_2019_1[['2019-01', '2019-02', '2019-03', '2019-04',
       '2019-05', '2019-06']].isna().sum().sum() / (df_2019_1.shape[0] * 6)
print(f"No 1º semestre de 2022, os dados NaN representam {dado1s*100:.2f}% do total de entradas nas colunas de acesso (6 meses do ano)")

print("No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum: \n nem \
números, nem strings, nem caracteres especiais; correspondem a uma informação zerada")

1º semestre de 2019:
Quantidade de NaN:  131067
Linhas e colunas:  (263288, 19)
Total de entradas no meu df:  5002472
No 1º semestre de 2019, os dados NaN representam 2.62% do total de entradas no dataframe
No 1º semestre de 2022, os dados NaN representam 8.30% do total de entradas nas colunas de acesso (6 meses do ano)
No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum:
 nem números, nem strings, nem caracteres especiais; correspondem a uma informação zerada

In [23]:
# vendo os Not a Number (NaN) do 2º semestre e sua relevância face ao total de informações do dataset

print("2º semestre de 2019:")

print(f"Quantidade de NaN: ", df_2019_2[['2019-07', '2019-08', '2019-09', '2019-10',
       '2019-11', '2019-12']].isna().sum().sum())

# O shape do 1º semestre é
print(f"Linhas e colunas: ", df_2019_2.shape)

# numero total de entradas no meu dataframe
print(f"Total de entradas no meu df: ", df_2019_2.shape[0] * df_2019_2.shape[1])

# vendo a percentagem no Nan na tabela do 2º semestre face ao total de informações
dado2 = df_2019_2[['2019-07', '2019-08', '2019-09', '2019-10',
       '2019-11', '2019-12']].isna().sum().sum() / (df_2019_2.shape[0] * df_2019_2.shape[1])
print(f"No 2º semestre de 2019, os dados NaN representam {dado2*100:.2f}% do total de entradas no dataframe")

# vendo a percentagem no Nan na tabela do 2º semestre face ao total de informações nas colunas dos meses:
dado2s = df_2019_2[['2019-07', '2019-08', '2019-09', '2019-10',
       '2019-11', '2019-12']].isna().sum().sum() / (df_2019_2.shape[0] * 6)
print(f"No 2º semestre de 2019, os dados NaN representam {dado2s*100:.2f}% do total de entradas nas colunas de acesso (6 meses do ano)")

print("No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum: \n nem \
números, nem strings, nem caracteres especiais; correspondem a uma informação zerada")

2º semestre de 2019:
Quantidade de NaN:  266657
Linhas e colunas:  (293889, 19)
Total de entradas no meu df:  5583891
No 2º semestre de 2019, os dados NaN representam 4.78% do total de entradas no dataframe
No 2º semestre de 2019, os dados NaN representam 15.12% do total de entradas nas colunas de acesso (6 meses do ano)
No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum:
 nem números, nem strings, nem caracteres especiais; correspondem a uma informação zerada

In [24]:
# vendo os NaN da tabela com 'merge + outer'

print("Ano de 2019:")

print(f"Quantidade de NaN: ", df_2019[['2019-01', '2019-02', '2019-03', '2019-04',
       '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10',
       '2019-11', '2019-12']].isna().sum().sum())

# O shape do ano é
print(f"Linhas e colunas: ", df_2019.shape)

# numero total de entradas no meu dataframe
print(f"Total de entradas no meu df: ", df_2019.shape[0] * df_2019.shape[1])

# vendo a percentagem no Nan na tabela 2022 face ao total de informações
dado_t = df_2019[['2019-01', '2019-02', '2019-03', '2019-04',
       '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10',
       '2019-11', '2019-12']].isna().sum().sum() / (df_2019.shape[0] * df_2019.shape[1])
print(f"No ano de 2019, os dados NaN representam {dado_t*100:.2f}% do total de entradas no dataframe")

# vendo a percentagem no Nan na tabela merge do ano face ao total de informações nas colunas dos meses:
dado_ts = df_2019[['2019-01', '2019-02', '2019-03', '2019-04',
       '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10',
       '2019-11', '2019-12']].isna().sum().sum() / (df_2019.shape[0] * 6)
print(f"No ano de 2019, os dados NaN representam {dado_ts*100:.2f}% do total de entradas nas colunas de acesso (6 meses do ano)")

Ano de 2019:
Quantidade de NaN:  710018
Linhas e colunas:  (304613, 25)
Total de entradas no meu df:  7615325
No ano de 2019, os dados NaN representam 9.32% do total de entradas no dataframe
No ano de 2019, os dados NaN representam 38.85% do total de entradas nas colunas de acesso (6 meses do ano)

In [24]:
print("Análise: \n")
print("Total de NaN na tabela consolidada: 3_270_405 \n")
print("Deste total, 1_244_289 NaN vieram da tabela do 1º semestre, e 305_712 NaN vieram da tabela do 2º semestre \n")
print("No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum: \n nem \
números, nem strings, nem caracteres especiais; correspondem a uma informação zerada, de modo que, \n em relação \
a eles, a equipe definiu que devem ser tratados tal como no arquivo original: zero \n")
print("Com o merge, recebemos 1_720_404 novos NaN. Para saber como tráta-los e deixá-los mais fidedignos \
possível \n à análise, rodamos três testes: \n 1) um que pede ao python que ignore todos os NaN nos cálculos estatísticos; \
\n 2) um que considera os NaN originais como 'zero', e ignora, como valor, os NaN provenientes do 'merge'; \n 3) um \
que considera todos os NaN do dataframe como zero, passando a função df.fillna() indistintamente \n em todos os NaN \n")
print("Conforme abaixo, a média anual de chips ativos por empresa (considerando as variáveis tecnologia, \n porte etc.) \
que trouxe resultados mais consistentes comparativamente à análise da média mensal total \n por chips ativos no Brasil \
foi o que considera todos os NaN como zero; poir isso, rodamos nosso modelo \n passando a função df.fillna() em \
todos os NaN")

Análise:

Total de NaN na tabela consolidada: 3_270_405

Deste total, 1_244_289 NaN vieram da tabela do 1º semestre, e 305_712 NaN vieram da tabela do 2º semestre

No arquivo csv original da Anatel, esses NaN correspondem a espaços não preenchidos com valor algum:
 nem números, nem strings, nem caracteres especiais; correspondem a uma informação zerada, de modo que,
 em relação a eles, a equipe definiu que devem ser tratados tal como no arquivo original: zero

Com o merge, recebemos 1_720_404 novos NaN. Para saber como tráta-los e deixá-los mais fidedignos possível
 à análise, rodamos três testes:
 1) um que pede ao python que ignore todos os NaN nos cálculos estatísticos;
 2) um que considera os NaN originais como 'zero', e ignora, como valor, os NaN provenientes do 'merge';
 3) um que considera todos os NaN do dataframe como zero, passando a função df.fillna() indistintamente
 em todos os NaN

Conforme abaixo, a média anual de chips ativos por empresa (considerando as variáveis tecnologia,
 porte etc.) que trouxe resultados mais consistentes comparativamente à análise da média mensal total
 por chips ativos no Brasil foi o que considera todos os NaN como zero; poir isso, rodamos nosso modelo
 passando a função df.fillna() em todos os NaN

In [25]:
# fillna() apenas para fazer testes de qualidade 
# vou rodar o fillna(0) numa célula mais abaixo depois desses testes

# df_2019 = df_2019.fillna(0)

In [26]:
lista_colunas = ['2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12']

In [28]:
# criar coluna de soma_meses

df_2019["soma_meses"] = df_2019[lista_colunas].sum(axis=1)

# coluna criada para fazer o sorted e ver se há NaN relevantes dentre as empresas que figuram dentre
# as mais representativas do setor

In [34]:
# Criar coluna de média

df_2019['media_ano'] = round(df_2019[lista_colunas].mean(axis=1), 2)

In [35]:
df_2019.head()

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,soma_meses,media_ano
0,1778972000174,11,Santo André,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,...,NaN,1.0,13.0,14.0,12.0,13.0,13.0,13.0,79.0,11.29
1,1778972000174,11,Santo André,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Jurídica,...,33.0,NaN,72.0,78.0,78.0,78.0,33.0,33.0,510.0,56.67
2,1778972000174,11,Arujá,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,...,1115.0,1110.0,1643.0,1615.0,1728.0,1581.0,1561.0,1575.0,14204.0,1183.67
3,1778972000174,11,Arujá,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Jurídica,...,6.0,4002.0,23.0,24.0,22.0,23.0,23.0,22.0,4151.0,345.92
4,1778972000174,11,Barueri,SP,Pós-pago,LTE,4G,America Net S.a.,Pequeno Porte,Pessoa Física,...,1001.0,NaN,28.0,136.0,48.0,74.0,107.0,112.0,1507.0,188.38

In [36]:
df_2019_sorted = df_2019.sort_values(by='soma_meses', ascending=True)

In [37]:
df_2019_sorted.head(1000)

# vemos que dentre as 500 linhas de reporte com menos acessos, as próprias empresas, no semestre, reportaram 
# apenas um acesso no semestre: isto é, ta tebela original da Anatel, elas próprias reportaram que nos outros 
# 5 meses o seu acesso foi de zero)

# a soma de todas as linhas desses 500 primeiros reportes é 1, o que significa que, ainda que 6 colunas tenham sido 
# preechidas com NaN, a própria empresa reportou, nas outras 5 colunas da tabela original, que os dados são
# zero para os outros 5 meses (apenas 1 mês teve acesso de 1)

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,soma_meses,media_ano
304612,5835916000185,46,Clevelândia,PR,Pós-pago,LTE,4G,NaN,NaN,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
262372,5835916000185,34,Pirajuba,MG,Pós-pago,WCDMA,3G,NaN,NaN,Pessoa Jurídica,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
262373,5835916000185,34,Pirajuba,MG,Pré-pago,GSM,2G,NaN,NaN,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
262374,5835916000185,34,Pirajuba,MG,Pré-pago,GSM,2G,NaN,NaN,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
262375,5835916000185,34,Pirajuba,MG,Pré-pago,LTE,4G,NaN,NaN,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263198,5835916000185,64,Inaciolândia,GO,Pós-pago,GSM,2G,NaN,NaN,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
263199,5835916000185,64,Inaciolândia,GO,Pós-pago,GSM,2G,NaN,NaN,Pessoa Jurídica,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
263200,5835916000185,64,Inaciolândia,GO,Pós-pago,GSM,2G,NaN,NaN,Pessoa Jurídica,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
263201,5835916000185,64,Inaciolândia,GO,Pós-pago,LTE,4G,NaN,NaN,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
263202,5835916000185,64,Inaciolândia,GO,Pós-pago,LTE,4G,NaN,NaN,Pessoa Jurídica,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [38]:
maiores_empresas = df_2019_sorted.tail(500)

In [33]:
maiores_empresas

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,soma_meses,media_ano
113972,2558157000162,31,Ribeirão das Neves,MG,Pós-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,61221.0,61917.0,63088.0,64157.0,64552.0,65572.0,66432.0,67868.0,754187.0,62848.92
111924,2558157000162,31,Betim,MG,Pré-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,64191.0,63314.0,63111.0,63154.0,62630.0,62359.0,62550.0,62992.0,755282.0,62940.17
156753,2558157000162,61,Brasília,DF,Pós-pago,LTE,4G,VIVO,Grande Porte,Pessoa Jurídica,...,64546.0,64479.0,64450.0,64269.0,62779.0,62084.0,62125.0,61853.0,757541.0,63128.42
231420,40432544000147,43,Londrina,PR,Pós-pago,LTE,4G,CLARO,Grande Porte,Pessoa Física,...,62751.0,62508.0,64477.0,65744.0,65596.0,68623.0,65391.0,67463.0,758207.0,63183.92
146137,2558157000162,51,Canoas,RS,Pós-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,62969.0,63634.0,63996.0,64914.0,65328.0,66061.0,66478.0,66821.0,758331.0,63194.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91784,2558157000162,11,São Paulo,SP,Pós-pago,GSM,2G,VIVO,Grande Porte,Pessoa Jurídica,...,1681499.0,1895658.0,1901753.0,1873977.0,1720849.0,1690531.0,1784382.0,1779118.0,21697296.0,1808108.00
91787,2558157000162,11,São Paulo,SP,Pós-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,1958810.0,1955536.0,1947530.0,1953659.0,1950379.0,1947532.0,1930576.0,1901851.0,23222757.0,1935229.75
11000,2421421000111,11,São Paulo,SP,Pré-pago,LTE,4G,TIM,Grande Porte,Pessoa Física,...,2372381.0,2371421.0,2359936.0,2353432.0,2419493.0,2454580.0,2533092.0,2564685.0,28689977.0,2390831.42
206750,40432544000147,11,São Paulo,SP,Pós-pago,WCDMA,3G,CLARO,Grande Porte,Pessoa Jurídica,...,2906155.0,2924259.0,1224985.0,2816386.0,2816289.0,1724382.0,1717811.0,1644160.0,29404782.0,2450398.50
206739,40432544000147,11,São Paulo,SP,Pós-pago,LTE,4G,CLARO,Grande Porte,Pessoa Física,...,2486357.0,2436785.0,2871288.0,2448517.0,2397734.0,2354963.0,2348940.0,2314398.0,29884953.0,2490412.75

In [34]:
# dentre as 500 maiores linhas com reportes de mais acessos, os NaN n]ao são tão óbvios, mas
# eles existem

maiores_empresas.isna().sum()

CNPJ                       0
Código Nacional            0
Município                  0
UF                         0
Modalidade de Cobrança     0
Tecnologia                 0
Tecnologia Geração         0
Empresa                    0
Porte da Prestadora        0
Tipo de Pessoa             0
Tipo de Produto            0
Código IBGE Município      0
Grupo Econômico            0
2022-01                   53
2022-02                   53
2022-03                   53
2022-04                   19
2022-05                   23
2022-06                   23
2022-07                   16
2022-08                   16
2022-09                   16
2022-10                   16
2022-11                   16
2022-12                   16
soma_meses                 0
media_ano                  0
dtype: int64

In [40]:
# vendo, dentro da lista com as maiores empresas (maior soma_meses), quais tem NaN em algum lugar
# do dataframe

maiores_empresas_com_nam = maiores_empresas[maiores_empresas.isna().any(axis=1)]

In [36]:
maiores_empresas_com_nam

# nesta tabela vemos que empresas com reportes relevantes tamém omitiram um mês ou outro

,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,...,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,soma_meses,media_ano
551397,5423963000111,81,Recife,PE,Pré-pago,LTE,4G,OI,Grande Porte,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,760907.0,253635.67
373473,37178485000118,41,Curitiba,PR,Pré-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,104899.0,106451.0,96527.0,94357.0,71030.0,70392.0,72178.0,56060.0,779946.0,86660.67
282618,36012579000150,11,Guarulhos,SP,Pré-pago,LTE,4G,TIM,Grande Porte,Pessoa Física,...,77007.0,76296.0,132709.0,130541.0,109521.0,99652.0,34627.0,24359.0,783649.0,87072.11
469589,18384930000151,51,Porto Alegre,RS,Pós-pago,GSM,2G,DATORA,Pequeno Porte,Pessoa Jurídica,...,NaN,NaN,68937.0,68937.0,87535.0,95365.0,95365.0,95365.0,787252.0,78725.20
561072,5423963000111,85,Fortaleza,CE,Pós-pago,LTE,4G,OI,Grande Porte,Pessoa Física,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,829233.0,276411.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384121,37178485000118,81,Recife,PE,Pré-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,515192.0,512738.0,514522.0,517063.0,374742.0,341231.0,331233.0,291590.0,3908899.0,434322.11
469528,18384930000151,11,São Paulo,SP,Pós-pago,GSM,2G,DATORA,Pequeno Porte,Pessoa Jurídica,...,NaN,NaN,459265.0,459265.0,459265.0,459265.0,473121.0,473121.0,4620362.0,462036.20
283518,36012579000150,11,São Paulo,SP,Pré-pago,LTE,4G,TIM,Grande Porte,Pessoa Física,...,419595.0,413505.0,828412.0,816423.0,707203.0,651673.0,217182.0,153413.0,4753559.0,528173.22
445406,37185266000166,71,Salvador,BA,Pré-pago,LTE,4G,CLARO,Grande Porte,Pessoa Física,...,451140.0,437561.0,697667.0,695066.0,704801.0,678480.0,354970.0,363892.0,4926476.0,547386.22
388553,37178485000118,85,Fortaleza,CE,Pré-pago,LTE,4G,VIVO,Grande Porte,Pessoa Física,...,866282.0,869498.0,864381.0,861964.0,627937.0,549666.0,476875.0,427869.0,6404852.0,711650.22

In [41]:
maiores_empresas_com_nam.columns

Index(['CNPJ', 'Código Nacional', 'Município', 'UF', 'Modalidade de Cobrança',
       'Tecnologia', 'Tecnologia Geração', 'Empresa', 'Porte da Prestadora',
       'Tipo de Pessoa', 'Tipo de Produto', 'Código IBGE Município',
       'Grupo Econômico', '2019-01', '2019-02', '2019-03', '2019-04',
       '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10',
       '2019-11', '2019-12', 'soma_meses', 'media_ano'],
      dtype='object')

In [42]:
maiores_empresas_com_nam[['Grupo Econômico', '2019-01', '2019-02', '2019-03', '2019-04',
       '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10',
       '2019-11', '2019-12', 'soma_meses', 'media_ano']]

,Grupo Econômico,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,soma_meses,media_ano
113502,TELEFÔNICA,NaN,476473.0,448739.0,432137.0,374577.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1731930.0,346386.0

In [39]:
# # vendo o numero de chips (acesso) por mes, e comparando com a media
# print(f"1ª hipotese: não fazendo fillna() nos NaN (deixando o python, por default, \n \
# ignorar o value ao calcular a média anual: \n")

# print(f" Mês 2022-01 ---> {df_2022['2022-01'].sum():,.0f}\n \
# Mês 2022-01 ---> {df_2022['2022-01'].sum():,.0f}\n \
# Mês 2022-02 ---> {df_2022['2022-02'].sum():,.0f}\n \
# Mês 2022-03 ---> {df_2022['2022-03'].sum():,.0f}\n \
# Mês 2022-04 ---> {df_2022['2022-04'].sum():,.0f}\n \
# Mês 2022-05 ---> {df_2022['2022-05'].sum():,.0f}\n \
# Mês 2022-06 ---> {df_2022['2022-06'].sum():,.0f}\n \
# Mês 2022-07 ---> {df_2022['2022-07'].sum():,.0f}\n \
# Mês 2022-08 ---> {df_2022['2022-08'].sum():,.0f}\n \
# Mês 2022-09 ---> {df_2022['2022-09'].sum():,.0f}\n \
# Mês 2022-10 ---> {df_2022['2022-10'].sum():,.0f}\n \
# Mês 2022-11 ---> {df_2022['2022-11'].sum():,.0f}\n \
# Mês 2022-12 ---> {df_2022['2022-12'].sum():,.0f}\n \
# \n \
# Média dos meses ---> {df_2022['media_ano'].sum():,.0f}")

# Resultado:

# 1ª hipotese: não fazendo fillna() nos NaN (deixando o python, por default, 
#  ignorar o value ao calcular a média anual: 

#  Mês 2022-01 ---> 255,676,462
#  Mês 2022-01 ---> 255,676,462
#  Mês 2022-02 ---> 256,443,920
#  Mês 2022-03 ---> 258,272,563
#  Mês 2022-04 ---> 259,241,181
#  Mês 2022-05 ---> 258,760,225
#  Mês 2022-06 ---> 259,381,229
#  Mês 2022-07 ---> 261,954,376
#  Mês 2022-08 ---> 263,216,913
#  Mês 2022-09 ---> 260,819,540
#  Mês 2022-10 ---> 261,289,808
#  Mês 2022-11 ---> 254,880,769
#  Mês 2022-12 ---> 251,987,984
 
#  Média dos meses ---> 312,628,522

In [40]:
# # vendo o numero de chips (acesso) por mes, e comparando com a media
# print(f"2ª hipotese: usando o fillna() nos NaN (o calculo da média considerará os zero nas somas dos \n \
# valores e o denominador 12 para o cálculo da média anual de cada linha: \n")

# print(f" Mês 2022-01 ---> {df_2022['2022-01'].sum():,.0f}\n \
# Mês 2022-01 ---> {df_2022['2022-01'].sum():,.0f}\n \
# Mês 2022-02 ---> {df_2022['2022-02'].sum():,.0f}\n \
# Mês 2022-03 ---> {df_2022['2022-03'].sum():,.0f}\n \
# Mês 2022-04 ---> {df_2022['2022-04'].sum():,.0f}\n \
# Mês 2022-05 ---> {df_2022['2022-05'].sum():,.0f}\n \
# Mês 2022-06 ---> {df_2022['2022-06'].sum():,.0f}\n \
# Mês 2022-07 ---> {df_2022['2022-07'].sum():,.0f}\n \
# Mês 2022-08 ---> {df_2022['2022-08'].sum():,.0f}\n \
# Mês 2022-09 ---> {df_2022['2022-09'].sum():,.0f}\n \
# Mês 2022-10 ---> {df_2022['2022-10'].sum():,.0f}\n \
# Mês 2022-11 ---> {df_2022['2022-11'].sum():,.0f}\n \
# Mês 2022-12 ---> {df_2022['2022-12'].sum():,.0f}\n \
# \n \
# Média dos meses ---> {df_2022['media_ano'].sum():,.0f}")

# # Resultado:

# 2ª hipotese: usando o fillna() nos NaN (o calculo da média considerará os zero nas somas dos 
#  valores e o denominador 12 para o cálculo da média anual de cada linha: 

#  Mês 2022-01 ---> 255,676,462
#  Mês 2022-01 ---> 255,676,462
#  Mês 2022-02 ---> 256,443,920
#  Mês 2022-03 ---> 258,272,563
#  Mês 2022-04 ---> 259,241,181
#  Mês 2022-05 ---> 258,760,225
#  Mês 2022-06 ---> 259,381,229
#  Mês 2022-07 ---> 261,954,376
#  Mês 2022-08 ---> 263,216,913
#  Mês 2022-09 ---> 260,819,540
#  Mês 2022-10 ---> 261,289,808
#  Mês 2022-11 ---> 254,880,769
#  Mês 2022-12 ---> 251,987,984
 
#  Média dos meses ---> 258,493,711

In [43]:
# após a rodagem dos testes, vimos que a metodologia que melhor se aplica aos dados (e como
# eles foram organizados após o merge), vamos imputar zero a todos os NaN

df_2019 = df_2019.fillna(0)

In [42]:
# pd.DataFrame(df_2022.groupby('UF').sum()['media_ano'].head(5))

      media_ano
UF
AC    972244.85
AL   4096684.78
AM   4993004.72
AP   1035815.64
BA  20818459.75

In [43]:
# df_2019.groupby('UF')['media_ano'].sum().head(5)

UF
AC      972244.85
AL     4096684.78
AM     4993004.72
AP     1035815.64
BA    20818459.75
Name: media_ano, dtype: float64

In [44]:
# df_2019_uf = pd.DataFrame(df_2019.groupby(['UF', 'Empresa'])['media_ano'].sum())

In [45]:
# df_2019_uf.head(20)

                                      media_ano
UF Empresa
AC CLARO                              394785.92
   DATORA                               1365.00
   OI                                  81042.95
   SURF TELECOM                         3571.50
   SURF TELECOM SA                      7110.73
   TIM                                122032.72
   VIVO                               362336.03
AL AMERICA NET                             6.00
   America Net S.a.                       13.77
   CLARO                              882251.63
   DATORA                               7411.09
   OI                                 896594.93
   SURF TELECOM                         4106.00
   SURF TELECOM SA                      8488.18
   TELEXPERTS TELECOMUNICAÇÕES S.A.      139.48
   TIM                               1015167.34
   VIVO                              1282506.36
AM AMERICA NET                             6.00
   America Net S.a.                       11.60
   CLARO                             1937749.78

In [44]:
df_2019_uf = pd.DataFrame(df_2019.groupby(['UF', 'Grupo Econômico', 'Empresa']).sum()['media_ano'])

In [45]:
df_2019_uf.head(10)

                                     media_ano
UF Grupo Econômico  Empresa
AC NEXTEL           NEXTEL               25.13
   OI               OI                94420.57
   OUTROS           SURF TELECOM SA    2083.08
   TELECOM AMERICAS CLARO            208685.70
   TELECOM ITALIA   TIM               40838.41
   TELEFÔNICA       VIVO             428724.65
AL NEXTEL           NEXTEL              149.19
   OI               OI               724147.74
   OUTROS           SURF TELECOM SA    2259.92
   TELECOM AMERICAS CLARO            699335.05

In [46]:
df_2019_uf['share'] = (df_2019_uf['media_ano'] / df_2019_uf['media_ano'].sum()) * 100

In [47]:
df_2019_uf.head(30)

                                                     media_ano         share
UF Grupo Econômico  Empresa
AC NEXTEL           NEXTEL                               25.13  1.086346e-05
   OI               OI                                94420.57  4.081713e-02
   OUTROS           SURF TELECOM SA                    2083.08  9.004961e-04
   TELECOM AMERICAS CLARO                            208685.70  9.021288e-02
   TELECOM ITALIA   TIM                               40838.41  1.765406e-02
   TELEFÔNICA       VIVO                             428724.65  1.853337e-01
AL NEXTEL           NEXTEL                              149.19  6.449345e-05
   OI               OI                               724147.74  3.130423e-01
   OUTROS           SURF TELECOM SA                    2259.92  9.769424e-04
   TELECOM AMERICAS CLARO                            699335.05  3.023160e-01
   TELECOM ITALIA   TIM                             1145361.58  4.951291e-01
   TELEFÔNICA       VIVO                             375086.97  1.621466e-01
AM NEXTEL           NEXTEL                              138.66  5.994143e-05
   OI               OI                               448811.63  1.940171e-01
   OUTROS           SURF TELECOM SA                    6088.42  2.631967e-03
   TELECOM AMERICAS CLARO                            684280.56  2.958081e-01
   TELECOM ITALIA   TIM                              393288.02  1.700147e-01
   TELEFÔNICA       VIVO                            1984093.16  8.577050e-01
AP NEXTEL           NEXTEL                               28.85  1.247159e-05
   OI               OI                               123792.00  5.351413e-02
   OUTROS           SURF TELECOM SA                    2983.83  1.289882e-03
   TELECOM AMERICAS CLARO                            106854.32  4.619213e-02
   TELECOM ITALIA   TIM                              127968.82  5.531973e-02
   TELEFÔNICA       VIVO                             371047.43  1.604003e-01
BA NEXTEL           NEXTEL                             1062.44  4.592829e-04
   OI               OI                              3536987.33  1.529007e+00
   OUTROS           America Net S.a.                      1.00  4.322907e-07
                    J. SAFRA TELECOMUNICACOES LTDA     4587.67  1.983207e-03
                    SURF TELECOM SA                   12817.22  5.540765e-03
   TELECOM AMERICAS CLARO                           3168850.16  1.369864e+00

In [50]:
# df_2022_uf['share'] = round((df_2022_uf['media_ano'] / df_2022_uf.groupby('UF').sum()['media_ano']) * 100, 2)

In [51]:
# df_2022_uf.head(15)

                                                      media_ano  share
UF Grupo Econômico  Empresa
AC DATORA           DATORA                              1365.00   0.14
   OI               OI                                 81042.95   8.34
   OUTROS           SURF TELECOM SA                     7110.73   0.73
   SURF TELECOM     SURF TELECOM                        3571.50   0.37
   TELECOM AMERICAS CLARO                             394785.92  40.61
   TELECOM ITALIA   TIM                               122032.72  12.55
   TELEFONICA       VIVO                                1598.22   0.16
   TELEFÔNICA       VIVO                              360737.81  37.10
AL AMERICA NET      AMERICA NET                            6.00   0.00
   DATORA           DATORA                              7411.09   0.18
   OI               OI                                896594.93  21.89
   OUTROS           America Net S.a.                      13.77   0.00
                    SURF TELECOM SA                     8488.18   0.21
                    TELEXPERTS TELECOMUNICAÇÕES S.A.     139.48   0.00
   SURF TELECOM     SURF TELECOM                        4106.00   0.10

In [52]:
# print()
# print()
# print()
# print()
# print()
# print()
# # print()
# print()
# print()
# print()
# print()

# usamos este comando dando entrer para avançar linhas, e depois alt arrasta para marcar as linhas que terão comando

In [53]:
# df_2022_uf = pd.DataFrame(df_2022.groupby(['UF', 'Grupo Econômico']).sum()['media_ano'])

In [54]:
# df_2022_uf['share'] = round((df_2022_uf['media_ano'] / df_2022_uf.groupby('UF').sum()['media_ano']) * 100, 2)

In [55]:
# df_2022_uf.head(30)

                      media_ano  share
UF Grupo Econômico
AC DATORA               1365.00   0.14
   OI                  81042.95   8.34
   OUTROS               7110.73   0.73
   SURF TELECOM         3571.50   0.37
   TELECOM AMERICAS   394785.92  40.61
   TELECOM ITALIA     122032.72  12.55
   TELEFONICA           1598.22   0.16
   TELEFÔNICA         360737.81  37.10
AL AMERICA NET             6.00   0.00
   DATORA               7411.09   0.18
   OI                 896594.93  21.89
   OUTROS               8641.43   0.21
   SURF TELECOM         4106.00   0.10
   TELECOM AMERICAS   882251.63  21.54
   TELECOM ITALIA    1015167.34  24.78
   TELEFONICA         716071.39  17.48
   TELEFÔNICA         566434.97  13.83
AM AMERICA NET             6.00   0.00
   DATORA               1432.00   0.03
   OI                 582257.12  11.66
   OUTROS              13477.70   0.27
   SURF TELECOM         6147.50   0.12
   TELECOM AMERICAS  1937749.78  38.81
   TELECOM ITALIA     531727.71  10.65
   TELEFONICA          18203.53   0.36
   TELEFÔNICA        1902003.38  38.09
AP AMERICA NET           115.00   0.01
   OI                 154445.01  14.91
   OUTROS               8826.83   0.85
   SURF TELECOM         2686.00   0.26

In [56]:
# df_2022_uf = pd.DataFrame(df_2022.groupby(['UF', 'Empresa']).sum()['media_ano'])

In [57]:
# df_2022_uf['share'] = round((df_2022_uf['media_ano'] / df_2022_uf.groupby('UF').sum()['media_ano']) * 100, 2)

In [58]:
# df_2022_uf.head(30)

                                      media_ano  share
UF Empresa
AC CLARO                              394785.92  40.61
   DATORA                               1365.00   0.14
   OI                                  81042.95   8.34
   SURF TELECOM                         3571.50   0.37
   SURF TELECOM SA                      7110.73   0.73
   TIM                                122032.72  12.55
   VIVO                               362336.03  37.27
AL AMERICA NET                             6.00   0.00
   America Net S.a.                       13.77   0.00
   CLARO                              882251.63  21.54
   DATORA                               7411.09   0.18
   OI                                 896594.93  21.89
   SURF TELECOM                         4106.00   0.10
   SURF TELECOM SA                      8488.18   0.21
   TELEXPERTS TELECOMUNICAÇÕES S.A.      139.48   0.00
   TIM                               1015167.34  24.78
   VIVO                              1282506.36  31.31
AM AMERICA NET                             6.00   0.00
   America Net S.a.                       11.60   0.00
   CLARO                             1937749.78  38.81
   DATORA                               1432.00   0.03
   OI                                 582257.12  11.66
   SURF TELECOM                         6147.50   0.12
   SURF TELECOM SA                     13072.23   0.26
   TELEXPERTS TELECOMUNICAÇÕES S.A.      393.87   0.01
   TIM                                531727.71  10.65
   VIVO                              1920206.91  38.46
AP AMERICA NET                           115.00   0.01
   America Net S.a.                      195.29   0.02
   CLARO                              224765.87  21.70

In [ ]:
df_2020_uf = pd.DataFrame(df_2020.groupby(['UF', 'Grupo Econômico']).sum()['media_ano'])
df_2020_uf['market_share'] = round(((df_2020_uf['media_ano'] / df_2020_uf.groupby('UF')['media_ano'].sum()) * 100),2)

Risla Miranda 15:29
df_2018_uf = pd.DataFrame(df_2018.groupby(['UF', 'Grupo Econômico'])['media_ano'].sum())
df_2018_uf['market_share'] = round(((df_2018_uf['media_ano'] / df_2018_uf.groupby('UF')['media_ano'].sum()) * 100), 2)